<li class="thread">
  <span class="icon" href="{{USERLINK}}">
    <img src="{{POSTERIMAGE}}" width="50" height="50" class="safeloading" onError="fixErrorImg(this);"/>
  </span>
  <a class="title" href='{{LINK}}'>
    {{TITLE}}
  </a>
  <div class="stats">
    <dl>
      <dt class="replies">
        Replies
      </dt>
      <dd class="replies">
        {{REPLIES}}
      </dd>
      <br/>
      <dt class="views">
        Views
      </dt>
      <dd class="views">
        {{VIEWS}}
      </dd>
    </dl>
  </div>
  <span class="last-message"></span>
</li>
