li {
    list-style: none;
}
table {
    border-collapse: collapse;
}
address, em, h1, h2, h3, h4, h5, cite, strong, th, mark {
    font-style: normal;
    font-weight: normal;
}
mark {
    background-color: transparent;
}
.clearFix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}
.clearFix {
    zoom: 1;
}


table {
    border-collapse: collapse;
    margin-top: 5px;
}
th, td {
    padding: 5px;
    vertical-align: middle;
}
input[type="text"], textarea, select {
    border: 0;
    margin: 0;
    padding: 0;
    resize: none;
}
input[type="text"]:focus, textarea:focus, select:focus {
    outline: none;
}
::selection {
    background-color: transparent;
    /*color: white;*/
}
html, body {
    height: 100%;
}
html > .mCSB_inside > .mCSB_container, body > .mCSB_inside > .mCSB_container {
    margin-right: 0 !important;
}
body {
    background-color: black;
    color: black;
}

a {
    outline: none;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
}
#wrapper {
    /*background: url("/assets/images/background.jpg") no-repeat fixed center top;*/
    
    background: url("/assets/images/newgamersbg.jpg") no-repeat fixed center top;
    background-size: 100% auto;
    min-width: 1148px;
}