footer {
    color: #c7c7c7;
    background-color: #333333;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    padding: 30px 60px 35px;
    width: 1148px;
}
footer a {
    color: #c7c7c7;
}
footer strong {
    color: white;
}
footer nav {
    border-bottom: 1px solid #272727;
}
footer nav ul {
    height: 45px;
}
footer nav ul li {
    display: inline;
    font-size: 1.07692em;
    line-height: 45px;
    vertical-align: middle;
}
footer nav ul li + li {
    padding-left: 27px;
    position: relative;
}
footer nav ul li + li:before {
    background: #a8a8a8;
    content: "\00A0";
    display: inline-block;
    height: 2px;
    left: 13.5px;
    position: absolute;
    top: 21.5px;
    width: 2px;
}
body.lanparty footer nav ul li + li:before {
    top: 8.5px;
}
footer nav .en {
    background: url("/assets/images/logo_en.png") no-repeat 0 -165px;
    padding-left: 187px;
}
footer nav .zh_tw {
    background: url("/assets/images/logo_tw.png") no-repeat 0 -173px;
    padding-left: 128px;
}
footer > ul {
    position: absolute;
    right: 60px;
    top: 40px;
}
footer > ul li {
    float: left;
}
footer > ul li a {
    display: block;
    float: left;
    height: 18px;
    width: 25px;
}
footer > ul li + li {
    margin-left: 10px;
}
footer > ul li:nth-child(1) a {
    background: url("/assets/images/sprite.png") no-repeat 7px -2025px;
}
footer > ul li:nth-child(1) a:hover, footer > ul li:nth-child(1) a:focus, footer > ul li:nth-child(1) a:active {
    background-position: 7px -2214px;
}
footer > ul li:nth-child(2) a {
    background: url("/assets/images/sprite.png") no-repeat 0 -2072px;
}
footer > ul li:nth-child(2) a:hover, footer > ul li:nth-child(2) a:focus, footer > ul li:nth-child(2) a:active {
    background-position: 0 -2261px;
}
footer > ul li:nth-child(3) a {
    background: url("/assets/images/sprite.png") no-repeat 0 -2120px;
}
footer > ul li:nth-child(3) a:hover, footer > ul li:nth-child(3) a:focus, footer > ul li:nth-child(3) a:active {
    background-position: 0 -2309px;
}
footer > ul li:nth-child(4) a {
    background: url("/assets/images/sprite.png") no-repeat 0 -2168px;
}
footer > ul li:nth-child(4) a:hover, footer > ul li:nth-child(4) a:focus, footer > ul li:nth-child(4) a:active {
    background-position: 0 -2357px;
}
footer small {
    border-top: 1px solid #3e3e3e;
    display: block;
    padding-top: 14px;
}
footer span {
    position: absolute;
    right: 60px;
    top: 89px;
}
footer span a {
    color: white;
}
footer .selectLanguage {
    background-color: black;
    /*@extend %IEPie */
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    bottom: 20px;
    font-size: 0.85714em;
    position: absolute;
    right: 0;
    width: 80px;
}
footer .selectLanguage a {
    color: inherit;
    display: block;
    padding: 5px 15px;
}
footer .selectLanguage a:hover, footer .selectLanguage a:focus, footer .selectLanguage a:active {
    color: #df0000;
    text-decoration: none;
}