.member .user {
    padding-left: 25px;
}
.member .logout {
    color: lightgrey;
}
.member .logout:hover, .member .logout:active, .member .logout:focus {
    color: white;
}
.member .memberPhoto {
    height: 30px;
    position: absolute;
    top: 6px;
}
.member .memberPhoto:before {
    content: "\00A0";
    background-color: #d8232a;
    border: 2px solid white;
    /*@extend %IEPie */
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    right: -3px;
    height: 6px;
    position: absolute;
    top: -2px;
    width: 6px;
}
.member .memberPhoto img {
    /*@extend %IEPie */
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.member cite {
    display: inline-block;
    line-height: 42px;
    padding-left: 40px;
}
.member .edit {
    background: url("/assets/images/sprite.png") no-repeat 0 -2525px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    height: 17px;
    width: 12px;
    margin-left: 9px;
    position: absolute;
    top: 12px;
}
.member .edit:hover, .member .edit:active, .member .edit:focus {
    background-position: 0 -2572px;
}