

.video, .games, .forum, .heading, .main #content > div, .main .viewer ul li + li, .videoRelated, .userAction {
    background: url("/assets/images/divider_h.png") repeat-x left top;
}


.slider-wrapper {
    position: relative;
}

header .site input[type="text"], .search input[type="text"] {
    box-sizing: border-box;
    height: 30px;
}
header .site input[type="text"]:focus, .search input[type="text"]:focus {
    background-color: white;
}
.live:before {
    content: "\00a0";
    position: absolute;
    height: 33px;
    width: 93px;
    right: 5px;
    top: -4px;
    z-index: 50;
}

#tab-2-2 .list .uploader {
    top: 95px;
}
.games [id^="tab-"] {
    overflow: hidden;
}
.game li, .gamesList li {
    float: left;
    margin: 0 10px 5px 0;
}
.game img, .gamesList img {
    display: block;
}
.heading {
    margin-top: 15px;
    position: relative;
}
.heading h2 {
    border-top: 3px solid #de1111;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    font-weight: bold;
}
#content {
    margin: 0 49px 0 50px;
    padding-bottom: 50px;
}
#content [id^="tab-"] {
    margin: 32px 0 30px;
}
#content h2 {
    font-size: 1.61538em;
}
#content aside h2 {
    font-weight: bold;
}

.tab > li {
    float: left;
    border-top: 3px solid transparent;
}
.tab > li + li {
    margin-left: 20px;
}
.tab > li a {
    color: #4f4f4f;
    display: block;
    text-decoration: none;
}
.tab > li.active {
    border-top: 3px solid #de1111;
}
.tab > li.active a {
    font-weight: bold;
    color: #131212;
}
/*Login */


/*index */

/*about */

/*Shows, News, Youtuber_video */

.channel {
    position: absolute;
    right: 0;
    top: 40px;
}
.channel li {
    background-color: gainsboro;
    border: 3px solid #acacac;
    border-radius: 16px;
    float: left;
    text-align: center;
    vertical-align: middle;
}
.channel li + li {
    margin-left: 5px;
}
.channel li:hover, .channel li:active, .channel li:focus {
    background-color: white;
    color: #e00000;
}
.channel li a {
    color: #2e2e2e;
    display: block;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
    padding: 0 10px;
}
.channel .current a {
    color: #e00000;
}
.resize {
    background-color: white;
    box-shadow: 0 0 3px silver;
    height: 27px;
    margin: 15px 0 5px;
    width: 52px;
}
.resize li {
    float: left;
    color: #b1b1b1;
    display: block;
    height: 27px;
    text-decoration: none;
    width: 26px;
}
.resize li:first-child {
    color: #b1b1b1;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 27px;
    text-align: center;
    cursor: default;
}

.playArea, .videoList {
    float: left;
    height: 510px;
    background: #000;
}
.playArea {
    width: 778px;
}


/*Shows_2x, News_2x, Youtuber_video_2x */

.nav-wrapper {
    max-width: 1148px;
    margin: auto;
    position: relative;
}
/*Games, Youtuber, Stream */

.games .game, .video .list {
    width: 1056px !important;
}
#index-page .video .list {
    width: 735px !important;
}
#index-page .games .game {
    width: 1069px !important;
}
.silderList .video [id^="tab-"] {
    position: relative;
}
.silderList .video [id^="tab-"]:before, .silderList .video [id^="tab-"]:after {
    background: url("/assets/images/divider_v.png") repeat-y 0 0;
    content: "\00A0";
    height: 826px;
    position: absolute;
    top: 4px;
    width: 2px;
}
.silderList .video [id^="tab-"]:before {
    left: 0;
}
.silderList .video [id^="tab-"]:after {
    right: 0;
}
.silderList .games [id^="tab-"] {
    background: url("/assets/images/divider_v.png") repeat-y left, url("/assets/images/divider_v.png") repeat-y right;
    height: 201px;
}
.silderList .games .bx-viewport {
    height: 206px !important;
}

#index-page .video [id^="tab-"] {
    height: 100%;
}

.profile, .profile > div {
    /*@extend %IEPie */
    
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
.live-button {
    content: "\00a0";
    position: absolute;
    height: 33px;
    width: 93px;
    right: 5px;
    display: none;
    top: 5px;
    z-index: 50;
    background: url("/assets/images/icon-live.png") no-repeat;
}
.profile {
    background-color: black;
    height: 73px;
    margin-top: 10px;
    position: relative;
    width: 1048px;
}
.profile div.clearFix {
    background: url("/assets/images/profile_bg.jpg") no-repeat 0 0;
    left: 0;
    height: 73px;
    position: absolute;
    opacity: 0.65;
    top: 0;
    width: 100%;
}
.profile img, .profile cite, .profile a {
    line-height: 1;
    display: inline-block!important;
    vertical-align: middle;
    z-index: 10;
}
.profile img {
    /*@extend %IEPie */
    
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin-right: 16px;
}
.profile cite {
    color: white;
    font-weight: bold;
    left: 90px;
    top: 36px;
    margin-top: 38px;
}
.profile .info {
    position: relative;
    z-index: 15;
}
.profile .info > a {
    background-color: gainsboro;
    border: 3px solid rgba(0, 0, 0, 0.15);
    /*@extend %IEPie */
    
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #3b3b3b;
    display: block;
    font-weight: bold;
    height: 26px;
    left: 216px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    top: 32px;
    width: 76px;
    margin-top: 38px;
}
.profile .info > a:hover, .profile .info > a:focus, .profile .info > a:active {
    background-color: #bfbfbf;
}
.change li:nth-child(1) a {
    background: rgba(19, 13, 18, 0.5) url("/assets/images/sprite.png") no-repeat 9px -2613px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    bottom: 0;
    height: 30px;
    width: 73px;
}
.change li:nth-child(1) a:hover, .change li:nth-child(1) a:active, .change li:nth-child(1) a:focus {
    background-color: rgba(85, 79, 84, 0.5);
}
.change li:nth-child(2) a {
    background: #fcfcfc url("/assets/images/sprite.png") no-repeat 10px -2664px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    /*@extend %IEPie */
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    bottom: 17px;
    box-sizing: border-box;
    color: #848484;
    font-weight: bold;
    line-height: 20px;
    padding-left: 28px;
    right: 26px;
    height: 22px;
    width: 137px;
}

.bx-wrapper .close {
    margin-right: 10%;
}
.stream .close:hover, .stream .close:active, .stream .close:focus, .bx-wrapper .close:hover, .bx-wrapper .close:active, .bx-wrapper .close:focus {
    box-shadow: none;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.65);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*Profile */

.userAction {
    margin-top: 90px;
}
/*Gamer stream */

#social-buttons {
    transition: opacity 1000ms ease;
    -moz-transition: opacity 1000ms ease;
    -ms-transition: opacity 1000ms ease;
    -o-transition: opacity 1000ms ease;
    -webkit-transition: opacity 1000ms ease;
}
.g-plusone-frame {
    display: inline-block;
    /*width: 70px;*/
}
.fade {
    opacity: 0 !important;
}
.reply {
    margin-right: 10px;
}
.img-container {
    width: 50px;
    float: left;
}
.img-container img {
    max-width: 100%;
}
.user-comment {
    overflow: hidden;
    padding-left: 10px;
}
small.date {
    color: #8A8A8A;
    margin-top: -10px;
    font-size: 10px;
}
.comment-item.clearfix:after {
    background: url("/assets/images/divider_h.png") repeat-x left top;
    display: block;
    width: 100%;
    height: 2px;
    content: ' ';
    margin-bottom: 5px;
}
.comment-item.clearfix:last-child:after {
    background: transparent;
}
.comment-area {
    border-radius: 5px;
    border: 1px solid #999999;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 5px;
    line-height: 1;
    background: #DBDBDB;
}
.comment-submit-container {
    margin-top: -10px;
    text-align: right;
}
.comment-submit-container > button {
    cursor: pointer;
}
#loginMenu, .full-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .85);
    z-index: 9999;
}
#loginMenu .login-container, .center-container {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
;
#loginMenu .login-container .username {} #loginMenu .login-container .password-field, #loginMenu .login-container .username-field {
    display: inline-block;
    border-radius: 5px;
    width: 200px;
    height: 20px;
    padding: 5px!important;
    border: 0;
    margin: 10px!important;
    resize: none;
}
#loginMenu .login-label {
    width: 440px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    background: #AF3C3C;
    border-radius: 5px;
    color: #ffffff;
    border: 2px solid rgb(78, 8, 8);
}
#loginMenu .login-button {
    width: 450px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background: #8BD658;
    border-radius: 5px;
    color: #ffffff;
    float: none;
    border: 2px solid rgb(19, 94, 12);
}
#postComment {
    float: right;
    margin-top: 2px;
}
.information.tabs #tab-2 .panel {
    width: 320px;
    margin: 10px 0;
}
a.link-white {
    color: #fff;
    text-decoration: none;
}
li.thread {
    margin: 10px 0;
    border-bottom: 1px solid #969696;
    padding: 0 10px 10px 10px;
}
li.thread:nth-of-type(1) {
    padding-top: 10px;
    border-top: 1px solid #969696;
}
li.thread > * {
    display: inline-block;
    vertical-align: bottom;
}
li.thread span.icon {
    width: 50px;
    height: 50px;
    overflow: hidden;
}
li.thread a.title {
    color: rgb(83, 83, 83);
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    width: 80%;
    padding-left: 25px;
}
li.thread .stats > dl > * {
    display: inline-block;
}
li.thread .stats > dl > dt {
    font-weight: bold;
}
.bx-controls-direction .disabled {
    display: none;
}
.social-links {
    float: right;
}
.social-login {
    width: 448px;
    display: block;
    margin: 10px auto;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background: #0099ff;
    border-radius: 5px;
    color: #ffffff;
    float: none;
    border: 2px solid #0099ff;
    box-sizing: border-box;
}
.social-links #viewport {
    padding: 20px;
    width: 258px;
}
.game-item {
    height: 98px;
    /* height: 94px;*/
    
    width: 163px;
    /*width: 160px;*/
}
.game-item > img {
    height: 100%;
    width: 100%;
}
.game-item.active {
    border: 2px solid #e00;
    height: 94px;
    width: 159px;
}
/* Streams */

body.streams {
    /*background: url("/assets/images/background.jpg") no-repeat fixed center top;*/
    
    background: url("/assets/images/gamers-newbg.jpg") no-repeat fixed center top;
    background-size: cover;
}
body.streams #stream-container {
    display: table;
    min-width: 1200px;
    height: 100%;
    margin: auto;
}
body.streams.x2 #stream-container {
    width: 90%;
    min-width: 1300px;
}
body.streams.x3 #stream-container {
    width: 100%;
}
body.streams #main-container {
    display: table-cell;
    height: 100%;
    overflow-y: auto;
    position: relative;
}
body.streams #streamArea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px 0 15px 15px;
    overflow: hidden;
}
body.streams #side-container {
    display: table-cell;
    width: 365px;
    vertical-align: top;
}
body:nth-child(3) {
    display: none;
}
#navigation {
    display: none;
}
/* Video Ratio */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe, .videoWrapper object {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    
    bottom: 0;
    right: 0;
}
.single.streams.x3 .videoWrapper {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.single.streams.x3 #twitchStream {
    height: 100vh;
}
.single.streams.x3 .videoWrapper iframe, .single.streams.x3 .videoWrapper object {
    position: relative;
}
#side-container #streamView {
    height: 100%;
    display: block;
}
#streamView #functionBar {
    height: 100%;
    position: relative;
}

#twitchStream {
    text-align: center;
    background: rgba(0, 0, 0, .5);
}
.muti #twitchStream {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    width: 50%;
}
.muti #twitchStream:only-child {
    width: 100%;
}
div.streamer {
    padding: 10px
}
.mobile_menu {
    display: none;
}
.lang_en {
    display: none !important;
}
#mobilenav {
    display: none;
}
#twitchStreamContainer {
    width: 100%;
}
div[id^=tab-chat-] {
    height: 95%;
}
div[id^=tab-chat-] iframe {
    height: 95%;
}
.muti div[id^=tab-chat-] {
    position: relative;
    /*  left: 0;
  right: 0;
  bottom: 0;
  top: 27px;*/
    
    height: 100%;
}
.stream .watchNow.disabled {
    border: 3px solid #fff;
}
.tab > li a small {
    font-size: 16px;
    color: #e00;
    vertical-align: super;
    font-weight: bold;
}
#advertisement-container {
    text-align: center;
    display: none;
}
#advertisement-container .minify-advert {
    position: absolute;
    right: 10px;
    background: #333;
    font-size: 12px;
    line-height: 12px;
    padding: 2px 5px;
    text-decoration: none;
}
#advertisement-container .minify-advert:hover {
    font-weight: bold;
}
.pointer {
    cursor: pointer;
}

.game_page .profile .info {
    line-height: 73px;
    font-size: 24px;
    padding-left: 24px;
    color: #fff;
}
.switch-menu #outContainer header .species ul li a {
    visibility: hidden;
}
.switch-menu #outContainer .fixedMenu header .species ul li a {
    visibility: visible;
}
.mCSB_inside > .mCSB_container {
    margin-right: 15px!important;
}
#arrow {
    position: fixed;
    right: 20px;
    /* padding: 10px; */
    
    border: 5px solid rgba(255, 255, 255, 0);
    bottom: 20px;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    width: 20px;
    height: 20px;
}
#arrow.down {
    background: url('/assets/images/down_arrow.svg');
}
#arrow.up {
    background: url('/assets/images/up_arrow.svg');
}
span.views {
    position: absolute;
    right: 5px;
    font-weight: bold;
    top: 5px;
    font-size: 21px;
    display: none;
}
#twitchStream:hover span.views {
    display: block;
}

li.login {
    text-align: center !important;
    visibility: hidden;
}


#index-page ul.list {
    overflow: hidden;
    vertical-align: top;
}
#index-page .bx-viewport {
    height: 100% !important;
}
#index-page .games.tabs .bx-viewport {
    width: 1041px !important;
    height: 214px !important;
}
#index-page .video .bx-next {
    right: -12px !important;
}
button#like.like {
    background: #ec0000 url('/assets/images/heart.svg') no-repeat;
    height: 11px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
    border: 3px solid #ec0000;
    padding-left: 23px;
    color: #fff;
    font-weight: bold;
    box-sizing: content-box;
    vertical-align: middle;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 5px;
    line-height: 1em;
    height: 1.3em;
    background-size: 19px;
    background-position-y: 2px;
}
button#like.like.active {
    background: #ffffff url('/assets/images/heart-active.svg') no-repeat;
    border: 3px solid #ffffff;
    color: #ec0000;
    background-size: 19px;
    background-position-y: 2px;
}
.user-links {
    margin-top: -10px;
    margin-left: 45px;
    width: 80px;
    text-align: left;
    background: #cecece;
    height: 100%;
    display: none;
    border-top: 3px solid #f00;
    position: relative;
    border-radius: 3px;
}
li:hover .user-links {
    display: block;
}

.user-links li {
    height: 1.2em !important;
    list-style-type: circle;
    list-style-position: inside;
    color: #555;
    font-size: 13px;
}
.user-links li a {
    line-height: 1.2em !important;
    padding: 3px 5px;
    background: #cecece;
    color: #333 !important;
    display: block;
    margin: 0;
}
.user-links li a:hover {
    background: #cecece;
    color: #f00 !important;
}
.bx-wrapper .bx-wrapper .bx-controls {
    display: none !important;
}
.game-item {
    background-color: #000;
}
ul.user-links:before {
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #f00 transparent;
    content: "\00A0";
    height: 0;
    left: 45%;
    position: absolute;
    top: -7px;
    width: 0;
}
.lanparty_type2 sup {
    color: red;
    left: 1px;
    position: relative;
    top: -5px;
    width: 1em;
}
.lanparty .videoHeading h3 {
    color: #fff;
}
a.social-share img {
    width: 35px;
    margin-right: 10px!important;
}
.fb-like-frame {
    transform: scale(1.6);
    -ms-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -o-transform: scale(1.6);
    -moz-transform: scale(1.6);
    transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    height: 21px;
    width: 52px;
    margin-right: 35px;
    display: inline;
}
.frame-container {
    display: inline;
    margin-top: 14px;
    float: left;
}
.updateFeaturedUsers {
    float: right;
    margin-top: -31px;
    padding: 5px;
    color: white;
    background-color: #B50000;
    cursor: pointer;
}
.adjust_line_green {
    margin-top: -5.50px;
}
/*added css*/

#container-multiview .uploader {
    top: 100px !important;
}
#query {
    width: 150px !important;
}
#activity_container {
    width: 920px !important;
    height: 500px !important;
    margin-left: 75px !important;
}

/*delete this after*/

.lanparty_content {
    display: none;
}
/*css for all events list*/

/*streamers page*/

.uploader > img {
    width: 100%;
    margin-top: 0px;
}



/*archive*/

div#archive_schedule {
    margin-top: 100px;
}
#all_schedule p, #archive_schedule p {
    display: inline-block;
    padding: 0 10px;
}
.left {
    width: 350px;
    display: inline-block;
}
.center {
    width: 250px;
    display: inline-block;
}
.right {
    display: inline-block;
    width: 200px;
    margin-left: 110px;
}
/* RDC 2015-02-23 */

.capitalized {
    text-transform: capitalize !important;
}
.gamelabel {
    position: absolute;
    text-align: center;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 160px;
    margin-top: 70px;
}
/*Freedom News Playlist*/

#tab-news-playlist-1 img {
    width: 100%;
    height: 100%;
}
#tab-news-playlist-2 img {
    width: 100%;
    height: 100%;
}
#tab-shows-playlist-0 img {
    width: 100%;
    height: 100%;
}
#tab-shows-playlist-3 img {
    width: 100%;
    height: 100%;
}
#subscribe-follow-like {
    float: none;
    vertical-align: middle;
}
#youtube-subscribe {
    float: right;
    margin-left: 5px;
}
#twitter-follow {
    float: right;
}
#facebook-like {
    float: right;
}
#top-controls {
    height: 35px;
}
/*Freedom News*/

div#news_shows_playlists_block {
    width: 1048px !important;
}
#news_shows_playlists_block ul.list.clearFix {
    width: 1048px !important;
}
.multistreamList {
    width: inherit !important;
    padding-left: 60px !important;
}
.lSAction .lSPrev, .lSAction .lSNext {
    background: url("/assets/images/stream_control.png") no-repeat 0 0 !important;
    opacity: 1;
    height: 107px;
    position: absolute;
    top: 15px;
    width: 37px;
}
.lSAction .lSPrev {
    background-position: -67px 40px !important;
    border-right: 1px solid #434343;
    left: 0 !important;
}
.lSAction .lSNext {
    background-position: -106px 40px !important;
    border-left: 1px solid #434343;
    right: 0 !important;
}

