.listSwitch {
    margin: 4px 3px 0;
    overflow: hidden;
    text-transform: uppercase;
}
.listSwitch li {
    background-color: #b5b5b5;
    border: 1px solid #8a8a8a;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
    width: 50%;
}
.listSwitch li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.listSwitch li:last-child {
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.listSwitch a {
    color: #6b6b6b;
    display: block;
    line-height: 27px;
    text-align: center;
    text-decoration: none;
}
.listSwitch .current {
    background-color: #e3e3e3;
}
.listSwitch .current a {
    color: #3e3e3e;
}
.playFunctionBtn {
    background: #000;
}
.playFunctionBtn li a {
    display: block;
    height: 29px;
    width: 35px;
}
.playFunctionBtn li:nth-child(1), .playFunctionBtn li:nth-child(2), .playFunctionBtn li:nth-child(3), .playFunctionBtn li:nth-child(4) {
    float: left;
}
.playFunctionBtn li:nth-child(1) a {
    background: url("/assets/images/player_ui.png") no-repeat 10px -100px;
}
.playFunctionBtn li:nth-child(2) a {
    background: url("/assets/images/player_ui.png") no-repeat 10px -139px;
}
.playFunctionBtn li:nth-child(3) a {
    background: url("/assets/images/player_ui.png") no-repeat 10px -180px;
}
.playFunctionBtn li:nth-child(4) a {
    /*background: url("/assets/images/player_ui.png") no-repeat 10px -222px !important;*/
}
.playFunctionBtn li:last-child a {
    /*background: url("/assets/images/player_ui.png") no-repeat 10px -264px;*/
    
    float: right;
}
.playList {
    background-color: #1b1b1b;
    border-top: 1px solid #111;
    color: #fff;
    box-sizing: border-box;
    display: none;
    height: 446px;
    padding: 12px 0 24px;
    overflow: hidden;
}
.playList.current {
    display: block;
}
.playList li {
    box-sizing: border-box;
    line-height: 1;
    padding: 0 18px 0 13px;
    width: 270px;
}
.playList li:hover, .playList li:active, .playList li:focus {
    background-color: #3b3b3b;
    color: #c7c7c7;
}
.playList li a {
    color: inherit;
    display: block;
    padding: 12px 0;
    text-decoration: none;
}
.playList li + li a {
    border-top: 1px solid #000;
}
.playList li div.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 2.3em;
    line-height: 1.2em;
    text-overflow: ellipsis;
}
.playList .current {
    background-color: #3b3b3b;
    color: #c7c7c7;
}
.playList img {
    float: left;
    margin-right: 15px;
}
.playList h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 2.3em;
    line-height: 1.2em;
    text-overflow: ellipsis;
}
.playList h4 {
    font-size: 12px;
    margin: 4px;
}
.playList h4 span:hover {
    text-decoration: underline;
    font-weight: bold;
}
.playList p {
    color: #7e7e7e;
}

.listSwitch.no-playlist li:first-child {
    display: none;
}
.listSwitch.no-playlist li:last-child {
    border: 3px;
}
.listSwitch.no-playlist li {
    width: 100%;
}