.search {
    position: relative;
    -ms-input-placeholder-color: #9c9c9c;
}
.search div:empty:not(.bx-pager):not(.bx-loading) {
    background: url("/assets/images/sprite.png") no-repeat 0 -1649px;
    height: 16px;
    width: 16px;
    right: 135px;
    position: absolute;
    top: 14px;
    opacity: 0.65;
    z-index: 50;
}
.search::-webkit-input-placeholder {
    color: #9c9c9c;
}
.search::-moz-placeholder {
    color: #9c9c9c;
}
.search input:-moz-placeholder {
    color: #9c9c9c;
}
.search input[type="text"] {
    background-color: #e5e5e5;
    border: 1px solid #bbbbbb;
    /*@extend %IEPie */
    
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    color: #9c9c9c;
    padding: 7px 11px 5px 42px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 162px;
    z-index: 10;
}