
#streamView, #streamView a {
    color: white;
}
#streamView {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    padding: 12px;
    padding-left: 0px;
    position: relative;
}
#streamView header, #streamView #functionBar {
    width: 356px;
    overflow: hidden;
}
#streamView header {
    background-color: black;
    color: white;
    height: 42px;
    /*position: absolute;*/
    
    right: 12px;
    top: 12px;
}
#streamView header h1, #streamView header li, #streamView header select, #streamView header > a {
    float: left;
}
#streamView header h1, #streamView header a {
    display: block;
    height: 42px;
}
#streamView header h1 {
    /* margin: 0 10px 0 8px; */
    
    width: 69px;
}
#streamView header select, #streamView header li {
    margin-left: 10px;
}
#streamView header li {
    line-height: 42px;
}
#streamView header select {
    background: #ececec;
    /*@extend %IEPie */
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 16px;
    margin-top: 12px;
}
#streamView header > a {
    background: url("/assets/images/sprite.png") no-repeat -12px -2796px;
    padding-left: 12px;
    position: relative;
    text-decoration: none;
    width: 101px;
}
#streamView header > a:before {
    content: "\00A0";
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 113px;
}
#streamView #functionBar {
    background-color: white;
    float: right;
}
#streamView #functionBar #twitchTalk {
    position: absolute;
    left: 0;
    top: 42px;
    right: 0;
    bottom: 0;
    background: #F2F2F2;
}
#streamView #functionBar #twitchTalk .content {
    height: 100%;
}
#twitch-chat-frame-container {
    height: 100%;
}
#streamView #functionBar .ad {
    height: 210px;
}
#streamView aside, #streamView .watchList {
    width: 1264px;
}
#streamView aside {
    margin: 0 auto;
    padding: 60px 0;
}
#streamView .watchList {
    background-color: #353535;
    background-image: -moz-linear-gradient(top, #3e3e3e 37px, #2f2f2f);
    background-image: -webkit-linear-gradient(top, #3e3e3e 37px, #2f2f2f);
    background-image: linear-gradient(to bottom, #3e3e3e 37px, #2f2f2f);
    /*@extend %IEPie */
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 144px;
    margin: 60px auto;
}
#streamView .watchList h2 {
    background-color: #1a1a1a;
    border: 1px solid rgba(77, 77, 77, 0.5);
    color: #b3b3b3;
    height: 35px;
    line-height: 35px;
    padding-left: 12px;
    position: relative;
}
#streamView .watchList h2:before, #streamView .watchList h2:after {
    background-image: -moz-linear-gradient(left, transparent, #2a7998, transparent);
    background-image: -webkit-linear-gradient(left, transparent, #2a7998 50%, transparent);
    background-image: linear-gradient(to right, transparent, #2a7998, transparent);
    content: "\00A0";
    display: block;
    position: absolute;
    height: 1px;
    left: 0;
    width: 1264px;
}
#streamView .watchList h2:before {
    top: -1px;
}
#streamView .watchList h2:after {
    bottom: -1px;
}
#streamView .watchList li {
    height: 107px;
}
#streamView .watchList li a {
    box-sizing: border-box;
    display: block;
    height: 74px;
    margin: 16.5px 28.75px 0;
    padding: 6px 9px;
    text-decoration: none;
}
#streamView .watchList li a.current, #streamView .watchList li a:hover {
    background-image: -moz-linear-gradient(top, #787676, #3f3f3f);
    background-image: -webkit-linear-gradient(top, #787676, #3f3f3f);
    background-image: linear-gradient(to bottom, #787676, #3f3f3f);
    /*@extend %IEPie */
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8) inset;
}
#streamView .watchList li a.current:hover, #streamView .watchList li a.current:active, #streamView .watchList li a.current:focus {
    background-image: -moz-linear-gradient(top, #3f3f3f, #787676);
    background-image: -webkit-linear-gradient(top, #3f3f3f, #787676);
    background-image: linear-gradient(to bottom, #3f3f3f, #787676);
    /*@extend %IEPie */
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2) inset;
}
#streamView .watchList li img {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    float: left;
    margin-right: 14px;
}
#streamView .watchList li h3, #streamView .watchList li dl {
    -webkit-transform: scale(0.8334);
    -o-transform: scale(1);
}
#streamView .watchList li h3 {
    padding-top: 5px;
}
#streamView .watchList li dt {
    float: left;
}
#streamView .watchList .bx-wrapper {
    padding: 0 37px;
    position: relative;
}
#streamView .watchList .bx-pager-item {
    display: none;
}
#streamView .watchList .bx-prev, #streamView .watchList .bx-next {
    background: url("/assets/images/stream_control.png") no-repeat 0 0;
    height: 107px;
    position: absolute;
    top: 0;
    width: 37px;
}
#streamView .watchList .bx-prev:before, #streamView .watchList .bx-next:before {
    background-color: #212121;
    content: "\00A0";
    height: 107px;
    position: absolute;
    width: 1px;
}
#streamView .watchList .bx-prev {
    background-position: -67px 40px;
    border-right: 1px solid #434343;
    left: 0;
}
#streamView .watchList .bx-prev:before {
    right: 0;
}
#streamView .watchList .bx-prev.disabled {
    background-position: 13px 40px;
}
#streamView .watchList .bx-next {
    background-position: -106px 40px;
    border-left: 1px solid #434343;
    right: 0;
}
#streamView .watchList .bx-next:before {
    left: 0;
}
#streamView .watchList .bx-next.disabled {
    background-position: -26px 40px;
}
#streamView .watchList .disabled {
    cursor: default;
}
#streamView #twitchStream {
    height: 690px;
    width: 988px;
    position: relative;
}
#streamView .streamer {
    background-color: white;
    float: left;
    height: 700px;
    margin-right: 58px;
    width: 288px;
}
#streamView .information {
    float: left;
    position: relative;
    width: 898px;
}
#streamView .information:before {
    content: "\00A0";
    border-top: 1px solid #8a8a8a;
    height: 1px;
    position: absolute;
    top: 1px;
    left: 0;
    width: 898px;
}
#streamView .information .tab {
    position: relative;
    z-index: 10;
}
#streamView .information .tab li a {
    color: #8f8f8f;
}
#streamView .information .tab li.active a {
    color: inherit;
}
#streamView .information [id^="tab-"] {
    margin: 50px 5px 0;
}
#streamView .information [id^="tab-"] ul li + li {
    margin-top: 12px;
}
#streamView .information [id^="tab-"] ul h3 {
    border: 3px dotted #898989;
    /*@extend %IEPie */
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    color: #b4b4b4;
    float: left;
    height: 50px;
    line-height: 44px;
    text-align: center;
    width: 50px;
}
#streamView .information [id^="tab-"] ul ul {
    position: relative;
    padding: 9px 0 0 64px;
}
#streamView .information [id^="tab-"] ul ul li {
    background-color: #464646;
    border: 1px solid #898989;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 14px;
    position: relative;
    text-transform: uppercase;
}
#streamView .information [id^="tab-"] ul ul li:before {
    background: url("/assets/images/sprite.png") no-repeat 0 -2866px;
    content: "\00A0";
    left: -7px;
    position: absolute;
    top: 11px;
    height: 8px;
    width: 7px;
}
#streamView .information [id^="tab-"] ul ul li + li {
    clear: left;
    margin-top: 0;
}
#streamView .information [id^="tab-"] ul p {
    float: left;
}
#streamView .information [id^="tab-"] ul p + p:before {
    content: "\007C";
    padding: 0 8px;
}
#streamView .information [id^="tab-"] ul em {
    font-weight: bold;
}
div.streamer {
    padding: 10px
}
#about-streamer {
    color: #000;
    padding: 5px;
    word-wrap: break-word;
}
#about-streamer a {
    color: #A30000!important;
}
.streamer > h2, .streamer .streamer-name {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
}
.muti #streamView h1 {
    background: url("/assets/images/logo_en.png") no-repeat 0 -50px;
}
#twitchStream:hover .remove-stream {
    display: block;
}
img.offline-placeholder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 400px;
    width: 100%;
}
.remove-stream {
    background: #010202 url(/assets/images/sprite.png) no-repeat 6px -2744px;
    border: 2px solid white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.35);
    display: block;
    height: 26px;
    position: absolute;
    display: none;
    right: 5px;
    top: 5px;
    width: 26px;
    font-size: 0;
}

.stream [id^="tab-"]:nth-of-type(1), .stream [id^="tab-"]:nth-of-type(2) {
    height: 966px;
    margin-top: 0;
}
.stream [id^="tab-"]:nth-of-type(1):before, .stream [id^="tab-"]:nth-of-type(1):after, .stream [id^="tab-"]:nth-of-type(2):before, .stream [id^="tab-"]:nth-of-type(2):after {
    height: 890px;
    top: 36px;
}
.stream [id^="tab-"]:nth-of-type(1) .bx-viewport, .stream [id^="tab-"]:nth-of-type(2) .bx-viewport {
    height: 966px !important;
}
.stream [id^="tab-"]:nth-of-type(1) .list > li, .stream [id^="tab-"]:nth-of-type(2) .list > li {
    margin-top: 0;
    padding-top: 36px;
}
.stream [id^="tab-"]:nth-of-type(1) .list > li .addTo, .stream [id^="tab-"]:nth-of-type(2) .list > li .addTo {
    background-color: #a40000;
    color: white;
    font-weight: bold;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 36px;
    width: 334px;
}
.stream [id^="tab-"]:nth-of-type(1) .list > li .addTo:after, .stream [id^="tab-"]:nth-of-type(2) .list > li .addTo:after {
    background: white url("/assets/images/sprite.png") no-repeat 3px -2706px;
    /*@extend %IEPie */
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: "\00A0";
    height: 17px;
    right: 82px;
    position: absolute;
    top: 10px;
    width: 17px;
}
.stream [id^="tab-"]:nth-of-type(1) .list > li:hover .addTo, .stream [id^="tab-"]:nth-of-type(1) .list > li:active .addTo, .stream [id^="tab-"]:nth-of-type(1) .list > li:focus .addTo {
    top: 0;
    -webkit-transition: top 0.25s ease;
    transition: top 0.25s ease;
}
.stream [id^="tab-"]:nth-of-type(1) .list li.live:before, .stream [id^="tab-"]:nth-of-type(2) .list li.live:before {
    top: 40px;
}
.stream [id^="tab-"]:nth-of-type(1) .list .uploader, .stream [id^="tab-"]:nth-of-type(2) .list .uploader {
    top: 134px;
}
.stream [id^="tab-"] {
    height: 864px;
}
.stream [id^="tab-"]:nth-of-type(3) {
    height: 870px;
    overflow: inherit;
}
.stream [id^="tab-"]:nth-of-type(3):before, .stream [id^="tab-"]:nth-of-type(3):after {
    height: 826px;
    top: 14px;
}
.stream [id^="tab-"]:nth-of-type(3) .bx-viewport {
    height: 888px !important;
    padding-top: 10px;
}
.stream .watchNow {
    background-color: black;
    border: 3px solid #f32a2a;
    /*@extend %IEPie */
    
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    color: white;
    position: absolute;
    text-align: center;
    text-decoration: none;
    right: 172px;
    width: 94px;
}
.stream .watchNow:hover, .stream .watchNow:active, .stream .watchNow:focus {
    background-color: black;
    border-color: white;
    color: #f32a2a;
}
.stream .close, .bx-wrapper .close {
    background: #010202 url(/assets/images/sprite.png) no-repeat 6px -2744px;
    border: 2px solid white;
    /*@extend %IEPie */
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.35);
    display: block;
    height: 26px;
    position: absolute;
    right: -5px;
    top: -14px;
    width: 26px;
    z-index: 5000;
}