.videoRelated [id^="tab-"] {
    margin: 30px 0 0 15px;
    overflow: hidden;
    height: 590px;
    border-bottom: 1px solid #9c9c9c;
}
.videoRelated [id^="tab-"]:nth-of-type(3) {
    height: 618px;
}
.videoRelated [id^="tab-"]:nth-of-type(4) {
    height: 630px;
}
.videoRelated [id^="tab-"] a {
    color: #4e4e4e;
}
.videoRelated .yourDiscussion {
    margin-top: 5px;
}
.videoRelated .yourDiscussion img {
    float: left;
    margin-right: 13px;
    vertical-align: top;
}
.videoRelated .yourDiscussion > div {
    position: relative;
    margin-left: 78px;
}
.videoRelated .yourDiscussion > div .angle {
    background: url("/assets/images/player_ui.png") no-repeat 0 -315px;
    left: -8px;
    position: absolute;
    top: 21px;
    height: 13px;
    width: 9px;
}
.videoRelated .yourDiscussion textarea {
    background-color: gainsboro;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    color: #9b9b9b;
    display: block;
    height: 100px;
    overflow-y: hidden;
    padding: 15px 17px;
    width: 100%;
}
.videoRelated .yourDiscussion textarea:focus {
    background-color: white;
    color: black;
}
.videoRelated .type {
    border-bottom: 1px solid #a0a0a0;
    color: #717171;
    font-weight: bold;
    line-height: 1;
    padding: 28px 0 7px;
}
.videoRelated .type span, .videoRelated .type li {
    float: left;
}
.videoRelated .type li {
    padding-right: 3px;
}
.videoRelated .type li + li {
    border-left: 1px solid #4e4e4e;
    padding-left: 3px;
}
.videoRelated .type a {
    color: #717171;
}
.videoRelated .type .current a {
    color: #181818;
}
.videoRelated .discussions {
    line-height: 1.5;
    margin-top: 30px;
}
.videoRelated .discussions article {
    margin-top: 23px;
}
.videoRelated .discussions article:hover .deleteComment {
    display: block;
}
.videoRelated .discussions article img {
    float: left;
    margin-right: 16px;
}
.videoRelated .discussions article cite {
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 5px;
}
.videoRelated .discussions article span {
    color: #797979;
}
.videoRelated .discussions article a {
    color: #1a4aa1;
}
.videoRelated .discussions article .replyContent {
    border-bottom: 1px solid #a0a0a0;
    padding-bottom: 30px;
    position: relative;
}
.videoRelated .discussions article .commentShare {
    padding-top: 20px;
    font-size: 11px;
    color: #3B579D;
}
.videoRelated .discussions article .commentShare a.fbbutton {
    background: url('http://cache.addthiscdn.com/icons/v1/thumbs/32x32/facebook.png');
    background-size: 16px;
    position: absolute;
    z-index: 999999;
    height: 16px;
    width: 16px;
}
.videoRelated .discussions article .commentShare a.gpbutton {
    background-size: 16px;
    position: absolute;
    z-index: 999999;
    left: 20px;
    height: 16px;
    width: 16px;
}
.videoRelated .discussions article .commentShare a.twbutton {
    background-size: 16px;
    position: absolute;
    z-index: 999999;
    left: 40px;
    height: 16px;
    width: 16px;
}
.videoRelated .discussions article .commentShare a.twbutton img {
    height: 16px;
    width: 16px;
}
.videoRelated .discussions article .replyBtn {
    background: url("/assets/images/player_ui.png") no-repeat 0 -396px;
    bottom: 0;
    color: #181818;
    display: block;
    position: absolute;
    right: 5px;
    font-weight: bold;
    padding-left: 17px;
}
.videoRelated .discussions article article .replyContent {
    padding-right: 49px;
}
.videoRelated .discussions article article .more {
    display: block;
    margin-top: 1em;
}
.videoRelated .discussions article article, .videoRelated .discussions article .more, .videoRelated .discussions article .allReplies {
    margin-left: 72px;
}
.videoRelated .discussions > article > .replyContent {
    margin-left: 72px;
    padding-right: 166px;
}
.videoRelated .discussions .allReplies {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    position: relative;
}
.videoRelated .discussions .allReplies:after {
    content: "\00A0";
    border-color: #989898 transparent transparent transparent;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    height: 0;
    margin-left: 3px;
    position: absolute;
    top: 0.5em;
    width: 0;
}
.videoRelated .discussions .allReplies:hover:after, .videoRelated .discussions .allReplies:Focus:after, .videoRelated .discussions .allReplies:active:after {
    border-color: #4d4d4d transparent transparent transparent;
}
.videoRelated .recommend {
    padding-left: 15px;
}
.videoRelated .recommend > ul {
    height: 618px;
    overflow: hidden;
}
.videoRelated .recommend .list {
    width: 268px;
    padding-bottom: 8px;
}
.videoRelated .recommend .list + .list {
    border-top: 1px solid #9c9c9c;
    padding-top: 12px;
}
.videoRelated .recommend a {
    color: inherit;
    display: block;
}
.videoRelated .recommend img {
    float: left;
    margin-right: 10px;
}
.videoRelated .recommend h3 {
    color: #1c1c1c;
    line-height: 1.15;
    margin-bottom: 5px;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.videoRelated .recommend li.list ul {
    margin-left: 119px
}
.videoRelated .recommend li {
    color: #7a7a7a;
    line-height: 1.25;
}
.videoRelated .deleteComment {
    width: 10%;
    position: absolute;
    right: 0;
    text-align: right;
    display: none;
    margin-top: -24px;
}
.videoRelated .hide, .videoRelated .hide:hover {
    display: none;
}
.deletecommentbox {
    width: 100%;
    z-index: 1000;
    background: rgba(255, 0, 0, 0.23);
    box-shadow: 0px 1px 20px rgba(221, 104, 104, 0.72);
}