<div id="chid-{cid}" class="chid">
  {cid}
</div>
<div id="chcontainer-{cid}" class="chcontainer">
  <table id="tblchatmsgs-{cid}" class="tblchatmsgs">
  </table>
</div>
<div id="chatinputs-{cid}" class="chatinputs">
  <input type="text" id="msgs-{cid}" class="msgs">
  <button id="btn-{cid}" class="btnSend">SEND</button>
</div>
<div id="notifylogin-{cid}" class="chatinputs" style="display:none;">
  <span class="spandex"><a href="javascript:utilLogin.show();" style="text-decoration: none; color:#3366FF;" >登入開始聊天</a>. </span>
</div>
