<div id="twitchStream" class="stream-item">
  <div class="videoWrapper">
    <object height="100%" width="100%" id="live_embed_player_flash"><param name="movie" value="//www.youtube.com/v/{{YOUTUBEID}}?hl=en_US&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/{{YOUTUBEID}}?hl=en_US&amp;version=3&autoplay=1" type="application/x-shockwave-flash" width="100%" height="100%" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    <a href="javascript:;" class="close remove-stream" data-id="YT{{YOUTUBEID}}" title="Close">
      Close
    </a>
  </div>
</div>
