/*Gamer stream */
#streamView {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  padding: 12px;
  padding-left: 0px;
  position: relative;
  color: white; }
  #streamView a {
    color: white; }
  #streamView header {
    width: 356px;
    overflow: hidden;
    background-color: black;
    color: white;
    height: 42px;
    right: 12px;
    top: 12px; }
    #streamView header > a {
      float: left;
      background: url("/assets/images/sprite.png") no-repeat -12px -2796px;
      padding-left: 12px;
      position: relative;
      text-decoration: none;
      width: 101px; }
      #streamView header > a:before {
        content: "\00A0";
        height: 42px;
        left: 0;
        position: absolute;
        top: 0;
        width: 113px; }
    #streamView header li {
      float: left;
      margin-left: 10px;
      line-height: 42px; }
    #streamView header a {
      display: block;
      height: 42px; }
  #streamView #twitchStream {
    height: 690px;
    width: 988px;
    position: relative; }
  #streamView .streamer {
    background-color: white;
    float: left;
    height: 700px;
    margin-right: 58px;
    width: 288px; }
    #streamView .streamer > h2, #streamView .streamer .streamer-name {
      color: #000;
      font-size: 1.2rem;
      font-weight: bold; }
  #streamView .information {
    float: left;
    position: relative;
    width: 898px; }
    #streamView .information:before {
      content: "\00A0";
      border-top: 1px solid #8a8a8a;
      height: 1px;
      position: absolute;
      top: 1px;
      left: 0;
      width: 898px; }
    #streamView .information .tab {
      position: relative;
      z-index: 10; }
      #streamView .information .tab li a {
        color: #8f8f8f; }
      #streamView .information .tab li.active a {
        color: inherit; }
    #streamView .information [id^="tab-"] {
      margin: 50px 5px 0; }
      #streamView .information [id^="tab-"] ul li + li {
        margin-top: 12px; }
      #streamView .information [id^="tab-"] ul h3 {
        border: 3px dotted #898989;
        /*@extend %IEPie */
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        box-sizing: border-box;
        color: #b4b4b4;
        float: left;
        height: 50px;
        line-height: 44px;
        text-align: center;
        width: 50px; }
      #streamView .information [id^="tab-"] ul p {
        float: left; }
        #streamView .information [id^="tab-"] ul p + p:before {
          content: "\007C";
          padding: 0 8px; }
      #streamView .information [id^="tab-"] ul em {
        font-weight: bold; }
      #streamView .information [id^="tab-"] ul ul {
        position: relative;
        padding: 9px 0 0 64px; }
        #streamView .information [id^="tab-"] ul ul li {
          background-color: #464646;
          border: 1px solid #898989;
          float: left;
          height: 30px;
          line-height: 30px;
          padding: 0 14px;
          position: relative;
          text-transform: uppercase; }
          #streamView .information [id^="tab-"] ul ul li:before {
            background: url("/assets/images/sprite.png") no-repeat 0 -2866px;
            content: "\00A0";
            left: -7px;
            position: absolute;
            top: 11px;
            height: 8px;
            width: 7px; }
          #streamView .information [id^="tab-"] ul ul li + li {
            clear: left;
            margin-top: 0; }
  #streamView aside {
    width: 1264px;
    margin: 0 auto;
    padding: 60px 0; }
  #streamView .watchList {
    width: 1264px;
    background-color: #353535;
    background-image: -moz-linear-gradient(top, #3e3e3e 37px, #2f2f2f);
    background-image: -webkit-linear-gradient(top, #3e3e3e 37px, #2f2f2f);
    background-image: linear-gradient(to bottom, #3e3e3e 37px, #2f2f2f);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 144px;
    margin: 60px auto; }
    #streamView .watchList h2 {
      background-color: #1a1a1a;
      border: 1px solid rgba(77, 77, 77, 0.5);
      color: #b3b3b3;
      height: 35px;
      line-height: 35px;
      padding-left: 12px;
      position: relative; }
      #streamView .watchList h2:before, #streamView .watchList h2:after {
        background-image: -moz-linear-gradient(left, transparent, #2a7998, transparent);
        background-image: -webkit-linear-gradient(left, transparent, #2a7998 50%, transparent);
        background-image: linear-gradient(to right, transparent, #2a7998, transparent);
        content: "\00A0";
        display: block;
        position: absolute;
        height: 1px;
        left: 0;
        width: 1264px; }
      #streamView .watchList h2:before {
        top: -1px; }
      #streamView .watchList h2:after {
        bottom: -1px; }
    #streamView .watchList h3 {
      -webkit-transform: scale(0.8334);
      -o-transform: scale(1);
      padding-top: 5px; }
    #streamView .watchList dl {
      -webkit-transform: scale(0.8334);
      -o-transform: scale(1); }
    #streamView .watchList dt {
      float: left; }
    #streamView .watchList li {
      height: 107px; }
      #streamView .watchList li a {
        box-sizing: border-box;
        display: block;
        height: 74px;
        margin: 16.5px 28.75px 0;
        padding: 6px 9px;
        text-decoration: none; }
        #streamView .watchList li a.current, #streamView .watchList li a:hover {
          background-image: -moz-linear-gradient(top, #787676, #3f3f3f);
          background-image: -webkit-linear-gradient(top, #787676, #3f3f3f);
          background-image: linear-gradient(to bottom, #787676, #3f3f3f);
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.8) inset; }
        #streamView .watchList li a.current:hover, #streamView .watchList li a.current:active, #streamView .watchList li a.current:focus {
          background-image: -moz-linear-gradient(top, #3f3f3f, #787676);
          background-image: -webkit-linear-gradient(top, #3f3f3f, #787676);
          background-image: linear-gradient(to bottom, #3f3f3f, #787676);
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          box-shadow: 0 0 8px rgba(255, 255, 255, 0.2) inset; }
      #streamView .watchList li img {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
        float: left;
        margin-right: 14px; }
    #streamView .watchList .bx-wrapper {
      padding: 0 37px;
      position: relative; }
    #streamView .watchList .bx-pager-item {
      display: none; }
    #streamView .watchList .bx-prev, #streamView .watchList .bx-next {
      background: url("/assets/images/stream_control.png") no-repeat 0 0;
      height: 107px;
      position: absolute;
      top: 0;
      width: 37px; }
      #streamView .watchList .bx-prev:before, #streamView .watchList .bx-next:before {
        background-color: #212121;
        content: "\00A0";
        height: 107px;
        position: absolute;
        width: 1px; }
    #streamView .watchList .bx-prev {
      background-position: -67px 40px;
      border-right: 1px solid #434343;
      left: 0; }
      #streamView .watchList .bx-prev.disabled {
        background-position: 13px 40px;
        cursor: default; }
      #streamView .watchList .bx-prev:before {
        right: 0; }
    #streamView .watchList .bx-next {
      background-position: -106px 40px;
      border-left: 1px solid #434343;
      right: 0; }
      #streamView .watchList .bx-next:before {
        left: 0; }
      #streamView .watchList .bx-next.disabled {
        background-position: -26px 40px;
        cursor: default; }
  #streamView #functionBar {
    width: 356px;
    overflow: hidden;
    background-color: white;
    float: right;
    height: 100%;
    position: relative; }
    #streamView #functionBar #twitchTalk {
      position: absolute;
      left: 0;
      top: 42px;
      right: 0;
      bottom: 0;
      background: #F2F2F2; }
      #streamView #functionBar #twitchTalk .content {
        height: 100%; }
    #streamView #functionBar .ad {
      height: 210px; }
  #streamView h1 {
    float: left;
    display: block;
    height: 42px;
    width: 69px; }
  #streamView select {
    float: left;
    margin-left: 10px;
    background: #ececec;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 16px;
    margin-top: 12px; }

.comment-item.clearfix:after {
  background: url("/assets/images/divider_h.png") repeat-x left top;
  display: block;
  width: 100%;
  height: 2px;
  content: ' ';
  margin-bottom: 5px; }
.comment-item.clearfix:last-child:after {
  background: transparent; }

.comment-area {
  border-radius: 5px;
  border: 1px solid #999999;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 5px;
  line-height: 1;
  background: #DBDBDB; }

.comment-submit-container {
  margin-top: -10px;
  text-align: right; }
  .comment-submit-container > button {
    cursor: pointer; }

.full-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999; }

.center-container {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center; }

#loginMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999; }
  #loginMenu .login-container {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center; }
    #loginMenu .login-container .username-field {
      display: inline-block;
      border-radius: 5px;
      width: 200px;
      height: 20px;
      padding: 5px !important;
      border: 0;
      margin: 10px !important;
      resize: none; }
    #loginMenu .login-container #loginMenu .login-container .password-field {
      display: inline-block;
      border-radius: 5px;
      width: 200px;
      height: 20px;
      padding: 5px !important;
      border: 0;
      margin: 10px !important;
      resize: none; }
  #loginMenu .login-label {
    width: 440px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    background: #AF3C3C;
    border-radius: 5px;
    color: #ffffff;
    border: 2px solid #4e0808; }
  #loginMenu .login-button {
    width: 450px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background: #8BD658;
    border-radius: 5px;
    color: #ffffff;
    float: none;
    border: 2px solid #135e0c; }

#postComment {
  float: right;
  margin-top: 2px; }

.information.tabs #tab-2 .panel {
  width: 320px;
  margin: 10px 0; }

.bx-controls-direction .disabled {
  display: none; }

.social-links {
  float: right; }
  .social-links #viewport {
    padding: 20px;
    width: 258px; }

.social-login {
  width: 448px;
  display: block;
  margin: 10px auto;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background: #0099ff;
  border-radius: 5px;
  color: #ffffff;
  float: none;
  border: 2px solid #0099ff;
  box-sizing: border-box; }
  .social-login #viewport {
    padding: 20px;
    width: 258px; }

.game-item {
  background-color: #000; }
  .game-item > img {
    height: 100%;
    width: 100%; }
  .game-item.active img {
    border: 2px solid #e00;
    height: 94px;
    width: 159px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
