#outer{ position:fixed; top:0; left:0; width:100%; height:100%; }
#inner{ width: 98%; height: 25%; top: 25%;position: relative;}
#gamers-link a {text-decoration: none; font-size: 2em;}

.content-wrap {
    position: fixed;
    top:0;
    left:0;
    width: 98%;
    height: 98%;
    background: url(".././images/gamers-newbg.jpg") no-repeat center center fixed;
}

.content-text {
    color: #99FF00;
    font-size:60px;
    font-weight: 900;
    top: 25% !important;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-shadow: 0px 1px 30px rgba(0, 1, 0, 1);
}
