/*Shows, News, Youtuber_video */
.channel {
  position: absolute;
  right: 0;
  top: 40px; }
  .channel li {
    background-color: gainsboro;
    border: 3px solid #acacac;
    border-radius: 16px;
    float: left;
    text-align: center;
    vertical-align: middle; }
    .channel li a {
      color: #2e2e2e;
      display: block;
      font-weight: bold;
      line-height: 26px;
      text-decoration: none;
      padding: 0 10px; }
    .channel li + li {
      margin-left: 5px; }
    .channel li:hover, .channel li:active, .channel li:focus {
      background-color: white;
      color: #e00000; }
  .channel .current a {
    color: #e00000; }

.resize {
  background-color: white;
  box-shadow: 0 0 3px silver;
  height: 27px;
  margin: 15px 0 5px;
  width: 52px; }
  .resize li {
    float: left;
    color: #b1b1b1;
    display: block;
    height: 27px;
    text-decoration: none;
    width: 26px; }
    .resize li:first-child {
      color: #b1b1b1;
      font-weight: bold;
      letter-spacing: -0.05em;
      line-height: 27px;
      text-align: center;
      cursor: default; }

.zoom a {
  display: block;
  height: 27px;
  background: url("/assets/images/player_ui.png") no-repeat 0 1px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.zoomOut a {
  background: url("/assets/images/player_ui.png") no-repeat 0 -54px; }

.video, .games, .forum, .heading, .main #content > div, .main .viewer ul li + li, .videoRelated, .userAction {
  background: url("/assets/images/divider_h.png") repeat-x left top; }

.playArea {
  float: left;
  height: 510px;
  background: #000;
  width: 778px; }

.videoList {
  float: left;
  height: 510px;
  background: #000;
  border: 1px solid #111;
  background-color: #1b1b1b;
  color: #fff;
  box-sizing: border-box;
  width: 270px; }
  .videoList .mCSB_container {
    margin-right: 0 !important; }

.listSwitch {
  margin: 4px 3px 0;
  overflow: hidden;
  text-transform: uppercase; }
  .listSwitch li {
    background-color: #b5b5b5;
    border: 1px solid #8a8a8a;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
    width: 50%; }
    .listSwitch li:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .listSwitch li:last-child {
      border-left: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  .listSwitch a {
    color: #6b6b6b;
    display: block;
    line-height: 27px;
    text-align: center;
    text-decoration: none; }
  .listSwitch .current {
    background-color: #e3e3e3; }
    .listSwitch .current a {
      color: #3e3e3e; }

.playFunctionBtn {
  background: #000; }
  .playFunctionBtn li {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap; }
    .playFunctionBtn li a {
      display: block;
      height: 29px;
      width: 35px; }
    .playFunctionBtn li:nth-child(1), .playFunctionBtn li:nth-child(2), .playFunctionBtn li:nth-child(3), .playFunctionBtn li:nth-child(4) {
      float: left !important; }
    .playFunctionBtn li:nth-child(3) {
      background: url("/assets/images/player_ui.png") no-repeat 10px -180px; }
    .playFunctionBtn li:last-child {
      float: right; }

.playList {
  background-color: #1b1b1b;
  border-top: 1px solid #111;
  color: #fff;
  box-sizing: border-box;
  display: none;
  height: 446px;
  padding: 12px 0 24px;
  overflow: hidden; }
  .playList.current {
    display: block; }
  .playList li {
    box-sizing: border-box;
    line-height: 1;
    padding: 0 18px 0 13px;
    width: 270px; }
    .playList li:hover, .playList li:active, .playList li:focus {
      background-color: #3b3b3b;
      color: #c7c7c7; }
    .playList li a {
      color: inherit;
      display: block;
      padding: 12px 0;
      text-decoration: none; }
    .playList li + li a {
      border-top: 1px solid #000; }
    .playList li div.title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 2.3em;
      line-height: 1.2em;
      text-overflow: ellipsis; }
  .playList .current {
    background-color: #3b3b3b;
    color: #c7c7c7; }
  .playList img {
    float: left;
    margin-right: 15px; }
  .playList h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 2.3em;
    line-height: 1.2em;
    text-overflow: ellipsis; }
  .playList h4 {
    font-size: 12px;
    margin: 4px; }
    .playList h4 span:hover {
      text-decoration: underline;
      font-weight: bold; }
  .playList p {
    color: #7e7e7e; }

.videoHeading {
  margin: 16px 0 50px;
  position: relative; }
  .videoHeading img {
    float: left;
    margin-right: 16px; }
  .videoHeading h3 {
    line-height: 1.25; }
  .videoHeading .likeBtn {
    bottom: 2px;
    left: 81px;
    line-height: 0;
    position: absolute;
    width: 967px; }

.videoRelated [id^="tab-"] {
  margin: 30px 0 0 15px;
  overflow: hidden;
  height: 590px;
  border-bottom: 1px solid #9c9c9c; }
  .videoRelated [id^="tab-"]:nth-of-type(3) {
    height: 618px; }
  .videoRelated [id^="tab-"]:nth-of-type(4) {
    height: 630px; }
  .videoRelated [id^="tab-"] a {
    color: #4e4e4e; }
.videoRelated .yourDiscussion {
  margin-top: 5px; }
  .videoRelated .yourDiscussion img {
    float: left;
    margin-right: 13px;
    vertical-align: top; }
  .videoRelated .yourDiscussion > div {
    position: relative;
    margin-left: 78px; }
    .videoRelated .yourDiscussion > div .angle {
      background: url("/assets/images/player_ui.png") no-repeat 0 -315px;
      left: -8px;
      position: absolute;
      top: 21px;
      height: 13px;
      width: 9px; }
  .videoRelated .yourDiscussion textarea {
    background-color: gainsboro;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    color: #9b9b9b;
    display: block;
    height: 100px;
    overflow-y: hidden;
    padding: 15px 17px;
    width: 100%; }
    .videoRelated .yourDiscussion textarea:focus {
      background-color: white;
      color: black; }
.videoRelated .type {
  border-bottom: 1px solid #a0a0a0;
  color: #717171;
  font-weight: bold;
  line-height: 1;
  padding: 28px 0 7px; }
  .videoRelated .type span {
    float: left; }
  .videoRelated .type li {
    float: left;
    padding-right: 3px; }
    .videoRelated .type li + li {
      border-left: 1px solid #4e4e4e;
      padding-left: 3px; }
  .videoRelated .type a {
    color: #717171; }
  .videoRelated .type .current a {
    color: #181818; }
.videoRelated .discussions {
  line-height: 1.5;
  margin-top: 30px; }
  .videoRelated .discussions article {
    margin-top: 23px; }
    .videoRelated .discussions article:hover .deleteComment {
      display: block; }
    .videoRelated .discussions article img {
      float: left;
      margin-right: 16px; }
    .videoRelated .discussions article cite {
      font-weight: bold;
      text-transform: uppercase;
      padding-right: 5px; }
    .videoRelated .discussions article span {
      color: #797979; }
    .videoRelated .discussions article a {
      color: #1a4aa1; }
    .videoRelated .discussions article .replyContent {
      border-bottom: 1px solid #a0a0a0;
      padding-bottom: 30px;
      position: relative; }
    .videoRelated .discussions article .commentShare {
      padding-top: 20px;
      font-size: 11px;
      color: #3B579D; }
      .videoRelated .discussions article .commentShare a.fbbutton {
        background: url('http://cache.addthiscdn.com/icons/v1/thumbs/32x32/facebook.png');
        background-size: 16px;
        position: absolute;
        z-index: 999999;
        height: 16px;
        width: 16px; }
      .videoRelated .discussions article .commentShare a.gpbutton {
        background-size: 16px;
        position: absolute;
        z-index: 999999;
        left: 20px;
        height: 16px;
        width: 16px; }
      .videoRelated .discussions article .commentShare a.twbutton {
        background-size: 16px;
        position: absolute;
        z-index: 999999;
        left: 40px;
        height: 16px;
        width: 16px; }
      .videoRelated .discussions article .commentShare a.twbutton img {
        height: 16px;
        width: 16px; }
  .videoRelated .discussions .replyBtn {
    background: url("/assets/images/player_ui.png") no-repeat 0 -396px;
    bottom: 0;
    color: #181818;
    display: block;
    position: absolute;
    right: 5px;
    font-weight: bold;
    padding-left: 17px; }
  .videoRelated .discussions .replyContent {
    padding-right: 49px;
    padding-right: 166px; }
  .videoRelated .discussions .more {
    display: block;
    margin-top: 1em;
    margin-left: 72px;
    padding-right: 166px; }
  .videoRelated .discussions article {
    margin-left: 72px;
    padding-right: 166px; }
  .videoRelated .discussions .allReplies {
    margin-left: 72px;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    position: relative; }
    .videoRelated .discussions .allReplies:after {
      content: "\00A0";
      border-color: #989898 transparent transparent transparent;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      height: 0;
      margin-left: 3px;
      position: absolute;
      top: 0.5em;
      width: 0; }
    .videoRelated .discussions .allReplies:hover:after, .videoRelated .discussions .allReplies:active:after, .videoRelated .discussions .allReplies:focus:after {
      border-color: #4d4d4d transparent transparent transparent; }
.videoRelated > article > .replyContent {
  margin-left: 72px;
  padding-right: 166px; }
.videoRelated .recommend {
  padding-left: 15px; }
  .videoRelated .recommend > ul {
    height: 618px;
    overflow: hidden; }
  .videoRelated .recommend .list {
    width: 268px;
    padding-bottom: 8px; }
  .videoRelated .recommend + .list {
    border-top: 1px solid #9c9c9c;
    padding-top: 12px; }
  .videoRelated .recommend a {
    color: inherit;
    display: block; }
  .videoRelated .recommend img {
    float: left;
    margin-right: 10px; }
  .videoRelated .recommend h3 {
    color: #1c1c1c;
    line-height: 1.15;
    margin-bottom: 5px;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box; }
  .videoRelated .recommend li {
    color: #7a7a7a;
    line-height: 1.25; }
    .videoRelated .recommend li.list ul {
      margin-left: 119px; }
.videoRelated .deleteComment {
  width: 10%;
  position: absolute;
  right: 0;
  text-align: right;
  display: none;
  margin-top: -24px; }
.videoRelated .hide, .videoRelated .hide:hover {
  display: none; }
.videoRelated .deletecommentbox {
  width: 100%;
  z-index: 1000;
  background: rgba(255, 0, 0, 0.23);
  box-shadow: 0px 1px 20px rgba(221, 104, 104, 0.72); }
