
.lang_en #streamView header h1 {
    background: url("/assets/images/logo_en.png") no-repeat 0 -50px;
    background-size: 98px auto;
}
.lang_en #streamView header > a:before {
    background: url("/assets/images/sprite.png") no-repeat 27px -905px;
}
.lang_zh_tw #streamView header h1 {
    background: url("/assets/images/logo_tw.png") no-repeat 7px -232px;
}
.lang_zh_tw #streamView header > a:before {
    background: url("/assets/images/sprite.png") no-repeat 27px -949px;
}
.lang_zh_tw #streamView header select {
    margin-left: 8px;
}
#social-buttons {
    transition: opacity 1000ms ease;
    -moz-transition: opacity 1000ms ease;
    -ms-transition: opacity 1000ms ease;
    -o-transition: opacity 1000ms ease;
    -webkit-transition: opacity 1000ms ease;
}
.g-plusone-frame {
    display: inline-block;
    /*width: 70px;*/
}
.fade {
    opacity: 0 !important;
}
.reply {
    margin-right: 10px;
}
.img-container {
    width: 50px;
    float: left;
}
.img-container img {
    max-width: 100%;
}
.user-comment {
    overflow: hidden;
    padding-left: 10px;
}
small.date {
    color: #8A8A8A;
    margin-top: -10px;
    font-size: 10px;
}
.comment-item.clearfix:after {
    background: url("/assets/images/divider_h.png") repeat-x left top;
    display: block;
    width: 100%;
    height: 2px;
    content: ' ';
    margin-bottom: 5px;
}
.comment-item.clearfix:last-child:after {
    background: transparent;
}
.comment-area {
    border-radius: 5px;
    border: 1px solid #999999;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 5px;
    line-height: 1;
    background: #DBDBDB;
}
.comment-submit-container {
    margin-top: -10px;
    text-align: right;
}
.comment-submit-container > button {
    cursor: pointer;
}
#loginMenu, .full-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .85);
    z-index: 9999;
}
#loginMenu .login-container, .center-container {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
;
#loginMenu .login-container .username {} #loginMenu .login-container .password-field, #loginMenu .login-container .username-field {
    display: inline-block;
    border-radius: 5px;
    width: 200px;
    height: 20px;
    padding: 5px!important;
    border: 0;
    margin: 10px!important;
    resize: none;
}
#loginMenu .login-label {
    width: 440px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    background: #AF3C3C;
    border-radius: 5px;
    color: #ffffff;
    border: 2px solid rgb(78, 8, 8);
}
#loginMenu .login-button {
    width: 450px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background: #8BD658;
    border-radius: 5px;
    color: #ffffff;
    float: none;
    border: 2px solid rgb(19, 94, 12);
}
#postComment {
    float: right;
    margin-top: 2px;
}
.information.tabs #tab-2 .panel {
    width: 320px;
    margin: 10px 0;
}
a.link-white {
    color: #fff;
    text-decoration: none;
}
li.thread {
    margin: 10px 0;
    border-bottom: 1px solid #969696;
    padding: 0 10px 10px 10px;
}
li.thread:nth-of-type(1) {
    padding-top: 10px;
    border-top: 1px solid #969696;
}
li.thread > * {
    display: inline-block;
    vertical-align: bottom;
}
li.thread span.icon {
    width: 50px;
    height: 50px;
    overflow: hidden;
}
li.thread a.title {
    color: rgb(83, 83, 83);
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    width: 80%;
    padding-left: 25px;
}
li.thread .stats > dl > * {
    display: inline-block;
}
li.thread .stats > dl > dt {
    font-weight: bold;
}
.bx-controls-direction .disabled {
    display: none;
}
.social-links {
    float: right;
}
.social-login {
    width: 448px;
    display: block;
    margin: 10px auto;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background: #0099ff;
    border-radius: 5px;
    color: #ffffff;
    float: none;
    border: 2px solid #0099ff;
    box-sizing: border-box;
}
.social-links #viewport {
    padding: 20px;
    width: 258px;
}
.game-item {
    height: 98px;
    /* height: 94px;*/
    
    width: 163px;
    /*width: 160px;*/
}
.game-item > img {
    height: 100%;
    width: 100%;
}
.game-item.active {
    border: 2px solid #e00;
    height: 94px;
    width: 159px;
}
/* Streams */

body.streams {
    /*background: url("/assets/images/background.jpg") no-repeat fixed center top;*/
    
    background: url("/assets/images/gamers-newbg.jpg") no-repeat fixed center top;
    background-size: cover;
}
body.streams #stream-container {
    display: table;
    min-width: 1200px;
    height: 100%;
    margin: auto;
}
body.streams.x2 #stream-container {
    width: 90%;
    min-width: 1300px;
}
body.streams.x3 #stream-container {
    width: 100%;
}
body.streams #main-container {
    display: table-cell;
    height: 100%;
    overflow-y: auto;
    position: relative;
}
body.streams #streamArea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px 0 15px 15px;
    overflow: hidden;
}
body.streams #side-container {
    display: table-cell;
    width: 365px;
    vertical-align: top;
}
body:nth-child(3) {
    display: none;
}
#navigation {
    display: none;
}
/* Video Ratio */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe, .videoWrapper object {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    
    bottom: 0;
    right: 0;
}
.single.streams.x3 .videoWrapper {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.single.streams.x3 #twitchStream {
    height: 100vh;
}
.single.streams.x3 .videoWrapper iframe, .single.streams.x3 .videoWrapper object {
    position: relative;
}
#side-container #streamView {
    height: 100%;
    display: block;
}
#streamView #functionBar {
    height: 100%;
    position: relative;
}
#main-container, #main-container a {
    color: white;
}
#main-container {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    padding: 12px;
    position: relative;
}
#main-container header, #main-container #functionBar {
    width: 470px;
}
#main-container header {
    background-color: black;
    color: white;
    height: 42px;
    position: absolute;
    right: 12px;
    top: 12px;
}
#main-container header h1, #main-container header li, #main-container header select, #main-container header > a {
    float: left;
}
#main-container header h1, #main-container header a {
    display: block;
    height: 42px;
}
#main-container header h1 {
    margin: 0 10px 0 8px;
    width: 98px;
}
#main-container header select, #main-container header li {
    margin-left: 10px;
}
#main-container header li {
    line-height: 42px;
}
#main-container header select {
    background: #ececec;
    /*@extend %IEPie */
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 16px;
    margin-top: 12px;
}
#main-container header > a {
    background: url("/assets/images/sprite.png") no-repeat -12px -2796px;
    padding-left: 12px;
    position: relative;
    text-decoration: none;
    width: 101px;
}
#main-container header > a:before {
    content: "\00A0";
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 113px;
}
#main-container #functionBar {
    background-color: white;
    float: right;
    height: 644px;
    padding-top: 46px;
}
#main-container #functionBar #twitchTalk {
    height: 424px;
    margin-bottom: 10px;
}
#main-container #functionBar .ad {
    height: 210px;
}
#main-container aside, #main-container .watchList {} #main-container aside {
    margin: 0 auto;
    padding: 30px 0;
}
#main-container .watchList {
    background-color: #353535;
    background-image: -moz-linear-gradient(top, #3e3e3e 37px, #2f2f2f);
    background-image: -webkit-linear-gradient(top, #3e3e3e 37px, #2f2f2f);
    background-image: linear-gradient(to bottom, #3e3e3e 37px, #2f2f2f);
    /*@extend %IEPie */
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 144px;
    margin: 60px auto;
}
#main-container .watchList h2 {
    background-color: #1a1a1a;
    border: 1px solid rgba(77, 77, 77, 0.5);
    color: #b3b3b3;
    height: 35px;
    line-height: 35px;
    padding-left: 12px;
    position: relative;
}
#main-container .watchList h2:before, #main-container .watchList h2:after {
    /*background-image: -moz-linear-gradient(left, transparent, #2a7998, transparent);*/
    /*background-image: -webkit-linear-gradient(left, transparent, #2a7998 50%, transparent);*/
    /*background-image: linear-gradient(to right, transparent, #2a7998, transparent);*/
    
    content: "\00A0";
    display: block;
    position: absolute;
    height: 1px;
    left: 0;
    width: 1264px;
}
#main-container .watchList h2:before {
    top: -1px;
}
#main-container .watchList h2:after {
    bottom: -1px;
}
#main-container .watchList li {
    height: 110px;
    width: 260px !important;
}
#main-container .watchList li a {
    box-sizing: border-box;
    display: block;
    height: 77px;
    margin: 16.5px 15.75px 0;
    padding: 6px 9px;
    text-decoration: none;
    /*width: 129px;*/
}
#main-container .watchList li a.current, #main-container .watchList li a:hover {
    background-image: -moz-linear-gradient(top, #787676, #3f3f3f);
    background-image: -webkit-linear-gradient(top, #787676, #3f3f3f);
    background-image: linear-gradient(to bottom, #787676, #3f3f3f);
    /*@extend %IEPie */
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8) inset;
}
#main-container .watchList li a.current:hover, #main-container .watchList li a.current:active, #main-container .watchList li a.current:focus {
    background-image: -moz-linear-gradient(top, #3f3f3f, #787676);
    background-image: -webkit-linear-gradient(top, #3f3f3f, #787676);
    background-image: linear-gradient(to bottom, #3f3f3f, #787676);
    /*@extend %IEPie */
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2) inset;
}
#main-container .watchList li img {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    float: left;
}
#main-container .watchList li h3, #main-container .watchList li dl {
    -webkit-transform: scale(0.8334);
    -o-transform: scale(1);
}
#main-container .watchList li h3 {
    float: right;
    font-size: 17px;
    width: 100px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: -7px 0 0 0;
    line-height: 25px;
}
#main-container .watchList li dt {
    float: left;
}
#main-container .watchList .bx-wrapper {
    max-width: inherit !important;
    padding: 0 65px 0 30px;
    position: relative;
}
#main-container .watchList .bx-pager-item {
    display: none;
}
#main-container .watchList .bx-prev, #main-container .watchList .bx-next {
    background: url("/assets/images/stream_control.png") no-repeat 0 0;
    height: 107px;
    position: absolute;
    top: 0;
    width: 37px;
}
#main-container .watchList .bx-prev:before, #main-container .watchList .bx-next:before {
    background-color: #212121;
    content: "\00A0";
    height: 106px;
    position: absolute;
    width: 1px;
}
#main-container .watchList .bx-prev, #main-container .watchList .bx-next {
    text-indent: -9999px;
    height: 106px;
}
#main-container .watchList .bx-prev {
    background-position: -67px 40px;
    border-right: 1px solid #434343;
    left: 0;
}
#main-container .watchList .bx-prev:before {
    right: 0;
}
#main-container .watchList .bx-prev.disabled {
    background-position: 13px 40px;
}
#main-container .watchList .bx-next {
    background-position: -106px 40px;
    border-left: 1px solid #434343;
    right: 0;
}
#main-container .watchList .bx-next:before {
    left: 0;
}
#main-container .watchList .bx-next.disabled {
    background-position: -26px 54px;
}
#main-container .watchList .disabled {
    cursor: default;
}
#main-container .streamer {
    background-color: white;
    float: left;
    height: 700px;
    margin-right: 20px;
    width: 288px;
}
#main-container .information {
    overflow: hidden;
    position: relative;
}
#main-container .information:before {
    content: "\00A0";
    border-top: 1px solid #8a8a8a;
    height: 1px;
    position: absolute;
    top: 1px;
    left: 0;
    width: 898px;
}
#main-container .information .tab {
    position: relative;
    z-index: 10;
}
#main-container .information .tab li a {
    color: #8f8f8f;
}
#main-container .information .tab li.active a {
    color: inherit;
}
#main-container .information [id^="tab-"] ul li + li {
    margin-top: 12px;
}
#main-container .information [id^="tab-"] ul h3 {
    border: 3px dotted #898989;
    /*@extend %IEPie */
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    color: #b4b4b4;
    float: left;
    height: 50px;
    line-height: 44px;
    text-align: center;
    width: 50px;
}
#main-container .information [id^="tab-"] ul ul {
    position: relative;
    padding: 9px 0 0 64px;
}
#main-container .information [id^="tab-"] ul ul li {
    background-color: #464646;
    border: 1px solid #898989;
    float: left;
    line-height: 30px;
    padding: 0 14px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#main-container .information [id^="tab-"] ul ul li:before {
    background: url("/assets/images/sprite.png") no-repeat 0 -2866px;
    content: "\00A0";
    left: -7px;
    position: absolute;
    top: 11px;
    height: 8px;
    width: 7px;
}
#main-container .information [id^="tab-"] ul ul li + li {
    clear: left;
    margin-top: 0;
}
#main-container .information [id^="tab-"] ul p {
    float: left;
}
#main-container .information [id^="tab-"] ul p + p:before {
    content: "\007C";
    padding: 0 8px;
}
#main-container .information [id^="tab-"] ul em {
    font-weight: bold;
}
#twitchStream {
    text-align: center;
    background: rgba(0, 0, 0, .5);
}
.muti #twitchStream {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    width: 50%;
}
.muti #twitchStream:only-child {
    width: 100%;
}
div.streamer {
    padding: 10px
}
.mobile_menu {
    display: none;
}
.lang_en {
    display: none !important;
}
#mobilenav {
    display: none;
}
#twitchStreamContainer {
    width: 100%;
}
div[id^=tab-chat-] {
    height: 95%;
}
div[id^=tab-chat-] iframe {
    height: 95%;
}
.muti div[id^=tab-chat-] {
    position: relative;
    /*  left: 0;
  right: 0;
  bottom: 0;
  top: 27px;*/
    
    height: 100%;
}
.stream .watchNow.disabled {
    border: 3px solid #fff;
}
.tab > li a small {
    font-size: 16px;
    color: #e00;
    vertical-align: super;
    font-weight: bold;
}
#advertisement-container {
    text-align: center;
    display: none;
}
#advertisement-container .minify-advert {
    position: absolute;
    right: 10px;
    background: #333;
    font-size: 12px;
    line-height: 12px;
    padding: 2px 5px;
    text-decoration: none;
}
#advertisement-container .minify-advert:hover {
    font-weight: bold;
}
.pointer {
    cursor: pointer;
}
.listSwitch.no-playlist li:first-child {
    display: none;
}
.listSwitch.no-playlist li:last-child {
    border: 3px;
}
.listSwitch.no-playlist li {
    width: 100%;
}
.game_page .profile .info {
    line-height: 73px;
    font-size: 24px;
    padding-left: 24px;
    color: #fff;
}
.switch-menu #outContainer header .species ul li a {
    visibility: hidden;
}
.switch-menu #outContainer .fixedMenu header .species ul li a {
    visibility: visible;
}
.mCSB_inside > .mCSB_container {
    margin-right: 15px!important;
}
#arrow {
    position: fixed;
    right: 20px;
    /* padding: 10px; */
    
    border: 5px solid rgba(255, 255, 255, 0);
    bottom: 20px;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    width: 20px;
    height: 20px;
}
#arrow.down {
    background: url('/assets/images/down_arrow.svg');
}
#arrow.up {
    background: url('/assets/images/up_arrow.svg');
}
span.views {
    position: absolute;
    right: 5px;
    font-weight: bold;
    top: 5px;
    font-size: 21px;
    display: none;
}
#twitchStream:hover span.views {
    display: block;
}
#container_lanparty {
    background: url("../images/lanpartybg.jpg");
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
    margin-top: 56px;
    min-height: 900px;
    padding: 40px 40px 80px 40px;
}
.lanparty .tabs {
    color: #fff;
}
.lanparty .recommend > h2 {
    color: #999;
}
.lanparty-nav .lanparty_type1 {
    float: left;
}
.lanparty-nav .lanparty_type2 {
    float: right;
}
.lanparty-nav .lanparty_type2 > li > a:hover {
    color: #eee;
    text-decoration: none;
}
.lanparty-nav .lanparty_type2 > li:nth-child(1) {
    background: url("../images/sprite.png") no-repeat 0 -1279px;
}
.lanparty-nav .lanparty_type2 > li:nth-child(2) {
    margin-left: 20px;
    background: url("../images/icon_fire_grey.png") no-repeat;
    position: relative;
    top: 1px;
    vertical-align: middle;
}
.lanparty-nav .lanparty_menu {
    border-top: 1px solid #434343;
    padding: 10px;
}
.lanparty-nav li {
    display: inline-block;
    padding: 0px 20px;
    vertical-align: middle;
}
.lanparty-nav > ul li:not(:last-child) {
    border-right: 1px solid #434343;
}
.lanparty-nav li > a {
    color: #868686;
    text-decoration: none;
    /*outline: 1px solid red;*/
    
    padding: 15px 10px;
    position: relative;
    top: -1px;
}
.lanparty-nav li.current > a {
    color: #00b8e6;
    border-top: 2px solid #00b8e6;
}
#container .lanparty-nav {
    margin: -34px -50px 25px;
    padding: 20px 50px;
}
.lanparty-nav-green .lanparty_type2 {
    float: right;
}
.lanparty-nav-green .lanparty_type2 > li > a:hover {
    color: #eee;
    text-decoration: none;
}
.lanparty-nav-green .lanparty_type2 > li:nth-child(1) {
    background: url("../images/sprite.png") no-repeat 0 -1279px;
}
.lanparty-nav-green .lanparty_type2 > li:nth-child(2) {
    margin-left: 20px;
    background: url("../images/icon_fire_grey.png") no-repeat;
    position: relative;
    top: 1px;
    vertical-align: middle;
}
.lanparty-nav-green .lanparty_menu {
    border-top: 1px solid #434343;
    padding: 10px;
}
.lanparty-nav-green li {
    display: inline-block;
    padding: 0px 20px;
    vertical-align: middle;
}
.lanparty-nav-green > ul li:not(:last-child) {
    border-right: 1px solid #434343;
}
.lanparty-nav-green li > a {
    color: #868686;
    text-decoration: none;
    /*outline: 1px solid red;*/
    
    padding: 15px 10px;
    position: relative;
    top: -1px;
}
.lanparty-nav-green li.current > a {
    color: #00b8e6;
    border-top: 2px solid #00b8e6;
}
#container .lanparty-nav-green {
    margin: -34px -50px 25px;
    padding: 20px 50px;
}
#outContainer #container.lanparty {
    /*background: #000 url('../images/lanparty_bg.png') no-repeat;*/
    
    background: #000;
}
#outContainer #container.lanparty a {
    color: #999;
}
/*New color scheme for activity tab*/

.lanparty-nav .lanparty_type1 li.active > a, .lanparty-nav .lanparty_type1 li:hover > a {
    color: #00b8e6;
    border-top: 2px solid #00b8e6;
}
.lanparty-nav-green .lanparty_type1 li.active > a, .lanparty-nav-green .lanparty_type1 li:hover > a {
    color: #00ff54;
    border-top: 2px solid #00ff54;
}
#container_lanparty .lanparty_title {
    font-weight: bold;
    display: inline-block;
    margin: 100px 80px 0px;
}
.dates_title {
    width: 823px;
    position: relative;
    margin-left: 100px;
    margin-top: 75px;
}
ul.date_schedule {
    color: #fffd21;
    font-size: large;
}
ul.date_schedule > li:nth-child(1) {} ul.date_schedule > li:nth-child(2) {
    padding-left: 48px;
}
ul.date_schedule > li:nth-child(3) {
    padding-left: 60px;
}
ul.date_schedule > li:nth-child(4) {
    padding-left: 55px;
}
ul.date_schedule > li:nth-child(5) {
    padding-left: 60px;
}
ul.date_schedule > li:nth-child(6) {
    padding-left: 65px;
}
ul.date_schedule > li:nth-child(7) {
    padding-left: 65px;
}
/*specific_dates*/

.specific_dates {
    margin-left: 100px;
    margin-top: -15px;
}
ul.dateSpecific {
    color: #e9ae0b;
    font-size: larger;
}
ul.dateSpecific > li:nth-child(2) {
    padding-left: 47px;
}
ul.dateSpecific > li:nth-child(3) {
    padding-left: 55px;
}
ul.dateSpecific > li:nth-child(4) {
    padding-left: 55px;
}
ul.dateSpecific > li:nth-child(5) {
    padding-left: 55px;
}
ul.dateSpecific > li:nth-child(6) {
    padding-left: 55px;
}
ul.dateSpecific > li:nth-child(7) {
    padding-left: 56px;
}
#container_lanparty .lanparty_content {
    color: #00b8e6;
    width: 85%;
    position: relative;
    margin: 80px auto;
}
#container_lanparty .lanparty_timetable {
    color: #00b8e6;
    width: 85%;
    position: relative;
    margin: 51px auto 80px;
    min-width: 1047px;
    min-height: 829px;
    border-top: #00c7f9 solid 1px;
}
#container_lanparty .lanparty_content p {
    margin: 20px 0px;
    line-height: 1.75;
}
.scheduler {
    background: url(../images/bg_grid.jpg) repeat-x;
    width: 941px;
    height: 863px;
    display: inline-block;
    vertical-align: top;
}
#container_lanparty .hour_time {
    display: inline-block;
    width: 105px;
    color: #FFFFFF;
    font-size: large;
}
ul.hour_time > li:nth-child(3), ul.hour_time > li:nth-child(7) {
    color: #00c7f9;
}
ul.hour_time > li:nth-child(3), ul.hour_time > li:nth-child(7) {
    color: #00c7f9;
}
ul.hour_time > li:nth-child(11), ul.hour_time > li:nth-child(15) {
    color: #00c7f9;
}
ul.hour_time > li:nth-child(19), ul.hour_time > li:nth-child(23) {
    color: #00c7f9;
}
ul.hour_time > li:nth-child(2), ul.hour_time > li:nth-child(4), ul.hour_time > li:nth-child(6), ul.hour_time > li:nth-child(8), ul.hour_time > li:nth-child(10) {
    color: #666666;
    font-size: smaller;
}
ul.hour_time > li:nth-child(12), ul.hour_time > li:nth-child(14), ul.hour_time > li:nth-child(16) {
    color: #666666;
    font-size: smaller;
}
ul.hour_time > li:nth-child(18), ul.hour_time > li:nth-child(20), ul.hour_time > li:nth-child(22), ul.hour_time > li:nth-child(24) {
    color: #666666;
    font-size: smaller;
}
/*scheduler*/

.hours {
    display: inline-block;
    width: 102px;
    vertical-align: top;
    padding-top: 8px;
}
.Monday {
    width: 116px;
    display: inline-block;
    vertical-align: top;
    padding-top: 28px;
}
#Monday1 {
    background-color: #00c7f9;
    width: 102px;
    height: 119px;
    z-index: 1;
    border-left: #fffd21 solid;
    color: white;
    font-size: large;
    text-align: left;
    padding-left: 10px;
    line-height: 1.20;
    padding-top: 10px;
}
#Monday1 > p {
    color: #13a1c4;
    font-size: smaller;
}
#Monday2 {
    background-color: #00c7f9;
    width: 102px;
    height: 373px;
    z-index: 1;
    margin-top: 79px;
    border-left: #fffd21 solid;
    color: white;
    font-size: large;
    text-align: left;
    padding-left: 10px;
    line-height: 1.20;
    padding-top: 10px;
}
#Monday2 > p {
    color: #13a1c4;
    font-size: smaller;
}
.Tuesday {
    display: inline-block;
    width: 118px;
    vertical-align: top;
    padding-top: 375px;
}
#Tuesday1 {
    background-color: #00c7f9;
    width: 106px;
    height: 373px;
    z-index: 1;
    border-left: #fffd21 solid;
    color: white;
    font-size: large;
    text-align: left;
    line-height: 1.20;
    padding-top: 10px;
    padding-left: 10px;
}
#Tuesday1 > p {
    color: #13a1c4;
    font-size: smaller;
}
.Wednesday {
    display: inline-block;
    width: 118px;
    vertical-align: top;
    padding-top: 164px;
}
#Wednesday1 {
    background-color: #00c7f9;
    width: 103px;
    height: 125px;
    border-left: #fffd21 solid;
    color: white;
    font-size: large;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 1.20;
}
#Wednesday1 > p {
    font-size: smaller;
    color: #13a1c4;
}
.Thursday {
    display: inline-block;
    width: 118px;
    vertical-align: top;
    padding-top: 400px;
}
#Thursday1 {
    background-color: #00c7f9;
    border-left: #fffd21 solid;
    color: white;
    font-size: large;
    padding-top: 10px;
    padding-left: 10px;
    height: 235px;
    width: 102px;
}
#Thursday1 > p {
    font-size: smaller;
    color: #13a1c4;
}
.Friday {
    display: inline-block;
    width: 118px;
    vertical-align: top;
}
.Saturday {
    display: inline-block;
    width: 118px;
    vertical-align: top;
    padding-top: 95px;
}
#Saturday1 {
    background-color: #00c7f9;
    color: white;
    font-size: large;
    padding-left: 10px;
    padding-top: 10px;
    border-left: #fffd21 solid;
    width: 102px;
}
#Saturday1 > p {
    font-size: smaller;
    color: #13a1c4;
}
.Sunday {
    display: inline-block;
    width: 118px;
    vertical-align: top;
    padding-top: 128px;
}
#Sunday1 {
    background-color: #00c7f9;
    border-left: #fffd21 solid;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    font-size: large;
    width: 102px;
    height: 370px;
}
#Sunday1 > p {
    font-size: smaller;
    color: #13a1c4;
}
#container_lanparty .hour_time li {
    margin: 0px 5px 0px 40px;
    height: 36px;
}
#container_lanparty .hour_time li:last-child {
    margin-bottom: 20px;
}
#container_lanparty_green {
    background: url("../images/lanparty_bg_3.png");
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
    margin-top: 56px;
    min-height: 900px;
    padding: 40px 40px 80px 40px;
}
#container_lanparty_green .lanparty_title {
    display: inline-block;
    margin: 100px 80px 0px;
}
#container_lanparty_green .lanparty_content {
    color: #acacac;
    width: 100%;
    position: relative;
}
#container_lanparty_green .lanparty_timetable {
    color: #acacac;
    width: 85%;
    position: relative;
    margin: 51px auto 80px;
    background: url(../images/lanparty_grid_bg.png);
    min-width: 940px;
    min-height: 829px;
    padding-top: 40px;
}
#container_lanparty_green .hour_time {
    display: inline-block;
    width: 155px;
    color: #00ff54;
    padding-top: 60px;
}
#container_lanparty_green .hour_time li {
    border-top: 1px dotted #00ff54;
    margin: 0px 5px 0px 40px;
    height: 36px;
}
#container_lanparty_green .hour_time li:last-child {
    border-bottom: 1px dotted #00ff54;
    margin-bottom: 20px;
}
.lanparty-nav > hr.line {
    height: 1px;
    border-top: 1px solid #434343;
    margin-bottom: 9px;
}
div#lanparty_event {
    display: none;
}
#event {
    width: 710px;
    color: black;
    padding-left: 0px;
    height: 325px;
    padding-top: 19px;
    padding-right: 15px;
    display: inline-block;
}
.event-item {
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    width: 210px;
    height: 990px;
    border-right: 1px dotted #00b8e6;
}
.event-item-green {
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    width: 210px;
    height: 990px;
    border-right: 1px dotted #00ff54;
}
.event_date {
    position: absolute;
    top: 0px;
    width: 178px;
    height: 65px;
    background: url(../images/month_bg.png) no-repeat;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding-left: 12px;
    z-index: 2000;
}
.event_date_green {
    position: absolute;
    top: 0px;
    width: 178px;
    height: 65px;
    background: url(../images/month_bg_3.png) no-repeat;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding-left: 12px;
    z-index: 2000;
}
.event-item .event_title {
    position: absolute;
    display: table;
    vertical-align: middle;
    border-top: 1px dotted #00b8e6;
    border-bottom: 1px dotted #00b8e6;
    font-size: 18px;
    color: #eee;
    text-align: center;
    width: 100%;
}
.event-item-green .event_title_green {
    position: absolute;
    display: table;
    vertical-align: middle;
    border-top: 1px dotted #00ff54;
    border-bottom: 1px dotted #00ff54;
    font-size: 18px;
    color: #eee;
    text-align: center;
    width: 100%;
}
.event-item .event_title p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.autocomplete-suggestions {
    margin-top: 5px;
}
.autocomplete-suggestions div {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    color: #e00;
}
.autocomplete-suggestions {
    background: rgba(0, 0, 0, .9);
    border: 1px solid #434343;
    padding: 0 5px 12px;
    color: #fff;
    overflow: hidden;
}
.autocomplete-suggestions:hover. .autocomplete-suggestions .selected {
    background: rgba(255, 255, 255, .9);
    color: #e00;
}
#youtubers .list.clearFix, #games .list.clearFix {
    padding-left: 50px;
    box-sizing: border-box;
}
#youtubers #tab-2-2 .list .uploader {
    top: 25px;
}
#streamers .video .list h3 {
    background-color: rgba(131, 7, 7, 0.75);
    bottom: 0;
    color: white;
    font-size: 1.61538em;
    line-height: 1.1;
    width: 100%;
}
#streamers .video .list > li {
    float: left;
    height: 246px;
    width: 334px;
    position: relative;
}
.gritter-item .link {
    color: #fff;
    font-size: 14px;
}
#container.lanparty .videoRelated [id^="tab-"] {
    border-bottom: none;
}
#container.lanparty .videoRelated {
    background: none;
    border-top: 1px solid #4d4d4d;
}
#container.lanparty .main .video + *, .videoRelated .tabs + * {
    background: none;
    border-left: 1px solid #4d4d4d;
}
#container.lanparty .videoRelated .tabs .tab {
    margin-top: -2px;
}
#container.lanparty .videoRelated .recommend h3 {
    color: #fff;
}
#container.lanparty .listSwitch li {
    background: #000;
    border: 1px solid #00b8e6;
}
#outContainer #container.lanparty .listSwitch li.current {
    background: #00b8e6;
}
#outContainer #container.lanparty .listSwitch li.current a {
    color: #fff;
}
#outContainer #container.lanparty .videoList {
    border: 1px solid #4d4d4d;
}
#outContainer #container.lanparty .playList {
    background: #000;
    border-top: 1px solid #30534f;
}
#outContainer #container.lanparty .playList li.current, #outContainer #container.lanparty .playList li:hover {
    background: #00b8e6;
}
#outContainer #container.lanparty .playList a {
    color: #fff;
}
#outContainer #container.lanparty .playList li + li a {
    border-top: 1px solid #30534f;
}
#outContainer #container.lanparty .listSwitch li a {
    color: #00b8e6;
}
#outContainer #container.lanparty .zoom a {
    display: block;
    height: 27px;
    background: url("/assets/images/player_ui_dark.png") no-repeat 0 1px;
}
#outContainer #container.lanparty .resize li:first-child {
    background: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #fff;
}
#outContainer #container.lanparty .zoomOut a {
    background: url("/assets/images/player_ui_dark.png") no-repeat 0 -54px;
}
#outContainer #container.lanparty .playFunctionBtn li:nth-child(1) a {
    background: url("/assets/images/player_ui_dark.png") no-repeat 10px -100px;
}
#outContainer #container.lanparty .playFunctionBtn li:nth-child(2) a {
    background: url("/assets/images/player_ui_dark.png") no-repeat 10px -139px;
}
#outContainer #container.lanparty .playFunctionBtn li:nth-child(3) a {
    background: url("/assets/images/player_ui_dark.png") no-repeat 10px -180px;
}
#outContainer #container.lanparty .playFunctionBtn li:nth-child(4) a {
    background: url("/assets/images/player_ui_dark.png") no-repeat 10px -222px;
}
#outContainer #container.lanparty .playFunctionBtn li:last-child a {
    background: url("/assets/images/player_ui_dark.png") no-repeat 10px -264px;
    float: right;
}
li.login {
    text-align: center !important;
    visibility: hidden;
}
/*load more*/
/*#index-page .video [id^='tab-'] ul.list li.pointer,
#index-page #featuredGames li,
#index-page #latestGames li,
#streamers > li {
  display: none;
}

button.load-more {
  background: #ececec;
  border: 0;
  color: #444;
  font-size: 15px;
  margin: auto;
  width: 100%;
  cursor: pointer;
}

button.load-more:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
}*/

#index-page ul.list {
    overflow: hidden;
    vertical-align: top;
}
#index-page .bx-viewport {
    height: 100% !important;
}
#index-page .games.tabs .bx-viewport {
    width: 1041px !important;
    height: 214px !important;
}
#index-page .video .bx-next {
    right: -12px !important;
}
button#like.like {
    background: #ec0000 url('/assets/images/heart.svg') no-repeat;
    height: 11px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
    border: 3px solid #ec0000;
    padding-left: 23px;
    color: #fff;
    font-weight: bold;
    box-sizing: content-box;
    vertical-align: middle;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 5px;
    line-height: 1em;
    height: 1.3em;
    background-size: 19px;
    background-position-y: 2px;
}
button#like.like.active {
    background: #ffffff url('/assets/images/heart-active.svg') no-repeat;
    border: 3px solid #ffffff;
    color: #ec0000;
    background-size: 19px;
    background-position-y: 2px;
}
.user-links {
    margin-top: -10px;
    margin-left: 45px;
    width: 80px;
    text-align: left;
    background: #cecece;
    height: 100%;
    display: none;
    border-top: 3px solid #f00;
    position: relative;
    border-radius: 3px;
}
li:hover .user-links {
    display: block;
}
#outContainer header .member > .login .user-links a:nth-child(1) {
    display: block;
}
.user-links li {
    height: 1.2em !important;
    list-style-type: circle;
    list-style-position: inside;
    color: #555;
    font-size: 13px;
}
.user-links li a {
    line-height: 1.2em !important;
    padding: 3px 5px;
    background: #cecece;
    color: #333 !important;
    display: block;
    margin: 0;
}
.user-links li a:hover {
    background: #cecece;
    color: #f00 !important;
}
.bx-wrapper .bx-wrapper .bx-controls {
    display: none !important;
}
.game-item {
    background-color: #000;
}
ul.user-links:before {
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #f00 transparent;
    content: "\00A0";
    height: 0;
    left: 45%;
    position: absolute;
    top: -7px;
    width: 0;
}
.lanparty_type2 sup {
    color: red;
    left: 1px;
    position: relative;
    top: -5px;
    width: 1em;
}
.lanparty .videoHeading h3 {
    color: #fff;
}
a.social-share img {
    width: 35px;
    margin-right: 10px!important;
}
.fb-like-frame {
    transform: scale(1.6);
    -ms-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -o-transform: scale(1.6);
    -moz-transform: scale(1.6);
    transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    height: 21px;
    width: 52px;
    margin-right: 35px;
    display: inline;
}
.frame-container {
    display: inline;
    margin-top: 14px;
    float: left;
}
.updateFeaturedUsers {
    float: right;
    margin-top: -31px;
    padding: 5px;
    color: white;
    background-color: #B50000;
    cursor: pointer;
}
.adjust_line_green {
    margin-top: -5.50px;
}
/*added css*/

#container-multiview .uploader {
    top: 100px !important;
}
#query {
    width: 150px !important;
}
#activity_container {
    width: 920px !important;
    height: 500px !important;
    margin-left: 75px !important;
}
.event_list {
    display: inline-block;
    width: 709px;
    margin-top: 45px;
}
#event {
    width: 710px;
    color: black;
    padding-left: 0px;
    height: 325px;
    padding-top: 19px;
    padding-right: 15px;
    display: inline-block;
}
div#event_bubble {
    display: inline-block;
    width: 75px;
    vertical-align: top;
    background: url("/assets/images/bubble_event.png") no-repeat;
    height: 70px;
}
div#event_details {
    display: inline-block;
    width: 600px;
    margin-left: 35px;
}
p#event_title {
    color: white;
    font-size: xx-large;
    line-height: 1;
    display: inline-block;
}
p#event_details {
    color: #8befa7;
    padding-bottom: 20px;
    font-size: large;
}
p#event_desc {
    color: #ccc;
    line-height: 1.3;
    font-size: 13px;
}
#separator {
    border-bottom: 1px solid #6f706f;
    padding-top: 10px;
}
div#date {
    width: 40px;
    padding-left: 15px;
    color: #fff;
    font-size: 14px;
    line-height: 0.9;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
p#date_1 {
    color: #fff;
    font-size: 31px;
    font-weight: bold;
}
p#date_2 {
    color: #8befa7;
    font-size: 12px;
}
.event_list > #event:last-child #separator {
    display: none;
}
#container_lanparty_green .lanparty_content {
    color: #acacac;
    width: 100%;
    position: relative;
    height: 900px;
    margin-right: 50px;
}
div#edit_event {
    display: inline-block;
    width: 143px;
    vertical-align: top;
    margin-left: 200px;
}
div#backButton {
    background: url("/assets/images/back_button.png") no-repeat;
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: top;
}
div#Join_Event {
    display: inline-block;
}
p#Join_Event_Title {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
}
#Join > p:last-child {
    color: #8befa7;
    font-weight: 600;
    font-size: 14px;
}
div#Join {
    line-height: 1;
}
#Join_Event > input {
    background: #454545;
    width: 275px;
    height: 28px;
    margin: 11px 0;
    border: 1px solid #7b7b7b;
}
p#full_name {
    padding-top: 20px;
}
#joinButton > a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 24px;
    background: rgba(0, 255, 84, 0.3);
    border: 3px solid #00ff54;
    border-radius: 20px;
}
div#joinButton {
    margin-top: 15px;
    margin-left: 103px;
}
div#gallery_thumbnails {
    width: 275px;
    vertical-align: top;
    display: inline-block;
    margin-top: 100px;
}
#gallery_thumbnails > img {
    padding: 2px 2px;
}
div#tab-4-1 {
    width: 1108px;
}
div#event_right {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}
#enter_link > input {
    background: #454545;
    width: 300px;
    height: 25px;
    border: 1px solid #7b7b7b;
}
#enter_link > a {
    color: white;
    font-weight: bold;
    font-size: 12px;
    background: #7b7b7b;
    padding: 7px 12px;
    margin-left: -5px;
    border-radius: 2px;
}
#enter_link > p {
    font-size: 12px;
    padding-bottom: 5px;
}
div#enter_link {
    margin-left: 103px;
    margin-top: 30px;
}
div#year {
    text-align: center;
}
#year > p {
    font-size: 60px;
    color: #00E64C;
    text-shadow: 0px 1px #000;
    font-weight: bold;
    height: 75px;
}
.activity {
    display: inline-block;
    width: 918px;
    margin-left: 68px;
}
p#activity_date {
    display: inline-block;
    width: 185px;
    font-weight: bold;
    color: #98ffb2;
}
p#activity_title {
    display: inline-block;
    padding-left: 150px;
    width: 265px;
    font-weight: bold;
}
div#status_activity {
    display: inline-block;
    padding-left: 150px;
}
div#eventStatus {
    width: 56px;
    text-align: center;
    border: 1px solid #000;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    margin-left: 200px;
}
p#stat_ongoing {
    width: 56px;
    text-align: center;
    background: #FFE10E;
    border: 1px solid #000;
    color: #000000;
    font-weight: bold;
    font-size: 12px;
}
p#event_status {
    display: inline-block;
    color: white;
    background: red;
    border: 1px solid #000;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 5px;
    vertical-align: top;
    margin-top: 3px;
    margin-left: 23px;
}
/*delete this after*/

.lanparty_content {
    display: none;
}
/*css for all events list*/

.all_events_content {
    width: 1020px;
    height: 800px;
    margin-left: 60px;
}
div#date_button {
    background: url("/assets/images/bubble_event.png") no-repeat;
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 1;
    padding-top: 12px;
}
p#month {
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}
p#day {
    color: #fff;
    font-weight: bold;
    font-size: 23px;
}
p#year {
    color: #8befa7;
    font-weight: bold;
    font-size: 13px;
}
div#separator {
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
}
div#eventListing {
    margin-top: 12px;
}
.event_list > #eventListing:last-child #separator {
    display: none;
}
div#event_right_add {
    display: inline-block;
    vertical-align: top;
}
#addEvent > a {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    background: rgba(0, 255, 84, 0.3);
    padding: 8px 15px;
    border: 3px solid #00ff54;
    border-radius: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
/*delete after*/

.all_events_content {
    display: none;
}
/*streamers page*/

.uploader > img {
    width: 100%;
    margin-top: 0px;
}
/*Add Event*/

.add_events_form {
    width: 1000px;
    margin-left: 75px;
    margin-top: 75px;
}
div#add_event_header {
    width: 200px;
    font-weight: bold;
    font-size: 30px;
    padding: 8px 15px;
}
div#addForm {
    width: 92%;
    margin-top: 50px;
    margin-left: 10px;
}
#addForm button {
    display: inline-block;
    margin-top: 100px;
    padding: 8px 15px;
    background: rgba(0, 255, 84, 0.3);
    border: 3px solid #00ff54;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#addForm p {
    width: 45%;
    display: inline-block;
    font-size: large;
    color: #ccc;
}
#addForm input {
    padding: 8px 15px;
    border-radius: 3px;
    display: inline-block;
    width: 50%;
    margin: 5px 0;
    background-color: transparent;
    border: 1px solid #7b7b7b;
    color: #7b7b7b;
}
/*show events*/

div#show_events {
    width: 700px;
    margin-top: 10px;
    display: inline-block;
}
div#backButton {
    background: url("/assets/images/back_button.png") no-repeat;
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: top;
}
p#e_desc {
    display: inline-block;
    vertical-align: top;
}
textarea#event_desc {
    width: 50%;
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 0px;
    height: 100px;
    background: transparent;
    border: 1px solid #7b7b7b;
    color: #7b7b7b;
}
/*get_schedules*/

div#startEventDate {
    display: inline-block;
    color: #98ffb2;
    font-weight: bold;
}
div#endEventDate {
    display: inline-block;
    color: #98ffb2;
    font-weight: bold;
}
div#startEventTime {
    display: inline-block;
    margin-left: 5px;
    color: #98ffb2;
    font-weight: bold;
}
div#endEventTime {
    display: inline-block;
    color: #98ffb2;
    font-weight: bold;
}
div#eventHeader {
    display: inline-block;
    padding-left: 115px;
    font-weight: bold;
}
/*show events*/

div#title {
    font-weight: bold;
    font-size: 28px;
    display: inline-block;
    width: 600px;
    margin-left: 20px;
}
div#startDate {
    color: #8befa7;
    font-weight: 600;
    display: inline-block;
    padding-right: 5px;
    margin-left: 85px;
}
div#endDate {
    display: inline-block;
    color: #8befa7;
    font-weight: 600;
    padding: 0 5px;
}
div#startTime {
    display: inline-block;
    color: #8befa7;
    font-weight: 600;
}
div#endTime {
    display: inline-block;
    color: #8befa7;
    font-weight: 600;
}
div#e-desc {
    display: inline-block;
    width: 700px;
    margin-left: 85px;
    margin-top: 12px;
    margin-bottom: 30px;
}
div#join-link {
    margin-left: 10px;
    margin-top: 30px;
}
div#getSchedules > button {
    display: inline-block;
    margin-top: 100px;
    padding: 8px 15px;
    background: rgba(0, 255, 84, 0.3);
    border: 3px solid #00ff54;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 50px;
}
div#editEvent {
    display: inline-block;
    width: 134px;
    vertical-align: top;
}
#edit_event > button {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px 15px;
    background: rgba(0, 255, 84, 0.3);
    border: 3px solid #00ff54;
    border-radius: 20px;
}
#join-event > button {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 255, 84, 0.3);
    border: 3px solid #00ff54;
    border-radius: 20px;
    padding: 8px 15px;
    color: #fff;
    font-weight: bold;
    margin-left: 75px;
}
#join-link > p {
    display: block;
    color: #7b7b7b;
    width: 170px;
    margin-left: 70px;
    margin-top: 10px;
}
#join-link > input {
    padding: 5px 37px;
    display: block;
    margin-left: 70px;
    background: #7b7b7b;
    border: 1px solid #fff;
    width: 200px;
}
/*date*/

input#event_start_date {
    font-family: Arial;
    color: #7b7b7b;
    text-transform: uppercase;
}
input#event_end_date {
    color: #7b7b7b;
    text-transform: uppercase;
    font-family: Arial;
}
input#event_start_time {
    color: #7b7b7b;
    font-family: Arial;
}
input#event_end_time {
    color: #7b7b7b;
    font-family: Arial;
}
div#getArchive > button {
    display: inline-block;
    margin-top: 100px;
    padding: 8px 15px;
    background: rgba(0, 255, 84, 0.3);
    border: 3px solid #00ff54;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 50px;
}
/*archive*/

div#archive_schedule {
    margin-top: 100px;
}
#all_schedule p, #archive_schedule p {
    display: inline-block;
    padding: 0 10px;
}
.left {
    width: 350px;
    display: inline-block;
}
.center {
    width: 250px;
    display: inline-block;
}
.right {
    display: inline-block;
    width: 200px;
    margin-left: 110px;
}
/* RDC 2015-02-23 */

.capitalized {
    text-transform: capitalize !important;
}
.gamelabel {
    position: absolute;
    text-align: center;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 160px;
    margin-top: 70px;
}
/*Freedom News Playlist*/

#tab-news-playlist-1 img {
    width: 100%;
    height: 100%;
}
#tab-news-playlist-2 img {
    width: 100%;
    height: 100%;
}
#tab-shows-playlist-0 img {
    width: 100%;
    height: 100%;
}
#tab-shows-playlist-3 img {
    width: 100%;
    height: 100%;
}
#subscribe-follow-like {
    float: none;
    vertical-align: middle;
}
#youtube-subscribe {
    float: right;
    margin-left: 5px;
}
#twitter-follow {
    float: right;
}
#facebook-like {
    float: right;
}
#top-controls {
    height: 35px;
}
/*Freedom News*/

div#news_shows_playlists_block {
    width: 1048px !important;
}
#news_shows_playlists_block ul.list.clearFix {
    width: 1048px !important;
}
.multistreamList {
    width: inherit !important;
    padding-left: 60px !important;
}
.lSAction .lSPrev, .lSAction .lSNext {
    background: url("/assets/images/stream_control.png") no-repeat 0 0 !important;
    opacity: 1;
    height: 107px;
    position: absolute;
    top: 15px;
    width: 37px;
}
.lSAction .lSPrev {
    background-position: -67px 40px !important;
    border-right: 1px solid #434343;
    left: 0 !important;
}
.lSAction .lSNext {
    background-position: -106px 40px !important;
    border-left: 1px solid #434343;
    right: 0 !important;
}

