/* Video Ratio */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .videoWrapper iframe, .videoWrapper object {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

.single.streams.x3 .videoWrapper {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0; }
  .single.streams.x3 .videoWrapper iframe, .single.streams.x3 .videoWrapper object {
    position: relative; }
.single.streams.x3 #twitchStream {
  height: 100vh; }

#side-container #streamView {
  height: 100%;
  display: block; }

.autocomplete-suggestions {
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid #434343;
  padding: 0 5px 12px;
  color: #fff;
  overflow: hidden; }
  .autocomplete-suggestions div {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden; }
  .autocomplete-suggestions strong {
    font-weight: normal;
    color: #e00; }
  .autocomplete-suggestions:hover, .autocomplete-suggestions .selected {
    background: rgba(255, 255, 255, 0.9);
    color: #e00; }

#youtubers .list.clearFix, #youtubers #games .list.clearFix {
  padding-left: 50px;
  box-sizing: border-box; }
#youtubers #tab-2-2 .list .uploader {
  top: 25px; }

#streamers .video .list h3 {
  background-color: rgba(131, 7, 7, 0.75);
  bottom: 0;
  color: white;
  font-size: 1.61538em;
  line-height: 1.1;
  width: 100%; }
#streamers .video .list > li {
  float: left;
  height: 246px;
  width: 334px;
  position: relative; }

.zoom2x #outContainer {
  width: 1450px; }
  .zoom2x #outContainer .site {
    padding-left: 385px; }
  .zoom2x #outContainer .en form {
    right: 208px; }
  .zoom2x #outContainer .zh_tw form {
    right: 227px; }
  .zoom2x #outContainer header {
    width: 1450px; }
  .zoom2x #outContainer footer {
    width: 1450px; }
  .zoom2x #outContainer .member {
    right: 220px; }
  .zoom2x #outContainer .profile {
    margin-bottom: 14px;
    width: 1400px; }
  .zoom2x #outContainer .tabs {
    min-height: 682px; }
  .zoom2x #outContainer .gamesList {
    width: 704px; }
    .zoom2x #outContainer .gamesList li {
      float: left;
      padding: 0 16px 13px 0; }
    .zoom2x #outContainer .gamesList img {
      display: block; }
.zoom2x #container {
  margin-top: 25px; }
  .zoom2x #container .heading {
    background-image: none;
    margin-top: 0; }
    .zoom2x #container .heading h2 {
      display: none; }
  .zoom2x #container .channel {
    top: -8px; }
  .zoom2x #container .resize {
    margin-top: 0; }
.zoom2x .playArea {
  height: 748px;
  width: 1130px; }
.zoom2x .videoList {
  height: 748px; }
.zoom2x .playList {
  height: 684px; }
.zoom2x .videoRelated {
  margin: 0 auto;
  width: 1048px; }
