<div class="lanparty_title">
	<img src="/assets/images/font_lanparty2.png" alt="">
</div>
<div class="dates_title">
	<ul class="date_schedule">
		<li>MON </li>
		<li>TUE</li>
		<li>WED</li>
		<li>THU</li>
		<li>FRI</li>
		<li>SAT</li>
		<li>SUN</li>
	</ul>
</div>
<div class="specific_dates">
	<ul class="dateSpecific">
		<li> 01/01 </li>
		<li> 01/02 </li>
		<li> 01/03 </li>
		<li> 01/04 </li>
		<li> 01/05 </li>
		<li> 01/06 </li>
		<li> 01/07 </li>
	</ul>
</div>
<div class="lanparty_timetable">
	<div class="hours">
		<ul class="hour_time">
		  <li> 0000 </li>
		  <li> 0030 </li>
		  <li> 0100 </li>
		  <li> 0130 </li>
		  <li> 0200 </li>
		  <li> 0230 </li>
		  <li> 0300 </li>
		  <li> 0330 </li>
		  <li> 0400 </li>
		  <li> 0430 </li>
		  <li> 0500 </li>
		  <li> 0530 </li>
		  <li> 0600 </li>
		  <li> 0630 </li>
		  <li> 0700 </li>
		  <li> 0730 </li>
		  <li> 0800 </li>
		  <li> 0830 </li>
		  <li> 0900 </li>
		  <li> 0930 </li>
		  <li> 1000 </li>
		  <li> 1030 </li>
		  <li> 1100 </li>
		  <li> 1130 </li>
		  <li> 1200 </li>
		</ul>
	</div>
	<div class="scheduler">
		<div class="Monday">
		  <div id="Monday1">
		    Bomber man/Wii U
		    <p> 0000-0200 </p>
		  </div>
		  <div id="Monday2">
		    Team Fortress
		    <p> 0300-0830 </p>
		  </div>
		</div>
		<div class="Tuesday">
		  <div id="Tuesday1">
		    Minecraft
		    <p> 0500-1030 </p>
		  </div>
		</div>
		<div class="Wednesday">
		  <div id="Wednesday1">
		    Damned
		    <p> 0200-0300 </p>
		  </div>
		</div>
		<div class="Thursday">
		  <div id="Thursday1">
		    Just Dance
		    <p> 0530-0900 </p>
		  </div>
		</div>
		<div class="Friday">
		</div>
		<div class="Saturday">
		  <div id="Saturday1">
		    Garry's Mod: Deathrun...
		    <p> 0100-0300 </p>
		  </div>
		</div>
		<div class="Sunday">
		  <div id="Sunday1">
		    Smash- muck Champion
		    <p> 0130-0700 </p>
		  </div>
		</div>
	</div>
</div>
<div class="event" id="event-container">
	<div id="lanparty_event">
	</div>
</div>
