<li class="{{LIVE}}">
    <a href="javascript:;" title="Add to multiview" data-username="{{USERNAME}}" data-userid="{{USER_ID}}" data-streamid="{{TYPE}}{{IDRAW}}" data-streamidraw="{{IDRAW}}" class="addToMultiview addTo switch">
    Add to multiview
  </a>
    <img onClick="window.open('{{LINK}}','_blank')" class="pointer" src="{{THUMB}}" width="334" height="246" alt="screenshot">
    <h3>
    <a target="_blank" href="{{LINK}}" title="{{TITLE}}">
      {{TITLE}}
    </a>
  </h3>
    <div style="width:68px;height:67px;overflow:hidden;position:absolute" class="uploader">
        <img src="{{PROVIDER}}avatar.php?userid={{USER_ID}}.jpg" alt="Uploaded by" class="" onError="fixErrorImg(this);">
    </div>
    <ul>
        <li>
            <em>觀看次數：</em>{{VIEWS}}
        </li>
    </ul>
</li>
