<li class="{{LIVE}}" data-streamid="{{TYPE}}{{IDRAW}}" data-streamidraw="{{IDRAW}}" data-key="{{KEY}}" data-collection="{{COLLECTION}}">
  <img src="{{THUMB}}" onClick="window.open('{{LINK}}','_blank');" class="pointer" width="100%" height="100%" alt="screenshot">
    <h3>
      <a target="_blank" href="{{LINK}}" title="{{TITLE}}">
        {{TITLE}}
      </a>
    </h3>
  <div style="width:68px;height:67px;overflow:hidden;position:absolute" class="uploader">
    <img src="{{PROVIDER}}avatar.php?userid={{USER_ID}}.jpg" alt="Uploaded by" class="" onError="fixErrorImg(this);">
  </div>
  <ul>
    <li>
      <em>觀看次數：</em>{{VIEWS}}
    </li>
  </ul>
  <a href="#" class="close remove-multiview" title="Close">Close</a>
</li>