<div id="chid-{cid}" class="chid">
  {cid}
</div>
<div id="chcontainer-{cid}" class="chcontainer_single">
  <table id="tblchatmsgs-{cid}" class="tblchatmsgs">
  </table>
</div>
<div id="chatinputs-{cid}" class="chatinputs_single">
  <input type="text" id="msgs-{cid}" class="msgs">
  <button id="btn-{cid}" class="btnSend">
    SEND
  </button>
</div>
<div id="notifylogin-{cid}" class="chatinputs_single" style="display:none;">
  <span class="spandex"><a href="javascript:utilLogin.show();" style="text-decoration: none; color:#3366FF;" >登入開始聊天</a>. </span>
</div>
<div class="advert" id="advertisement-container-yt" data-size="minified" data-status="full" style="background-color: black;">
  <div id="close-advert">
    <a id="close-advert-link" onclick="javascript: closeAdvert();">X</a>
  </div>
    {ADVERT}
  <a href="javascript:void(0)" onClick="toggleChat();" class="minify-advert" style="font-size: medium; font-family: Calibri; color:#6666CC;">MINIFY</a>
</div>
