<tr>
    <td>
        <div id="usericon-{cid}" class="usericon">
            <img id="uavatar-{cid}" class="uavatar" alt="userimage" height="46px" width="46px" src="{avatar}">
        </div>
        <div id="chat-message-{cid}" class="chat-message">
            <label id="uname">{username}</label>
            <p id="imsg" class="message">
                {message}
            </p>
            <label id="timestamp-{cid}" class="timestamp">{timesent}</label>
        </div>           
    </td>
</tr>