#main-container {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    padding: 12px;
    position: relative;
    a {
        color: white;
    }
    aside, #main-container{
        margin: 0 auto;
        padding: 30px 0;
    }
    header {
        width: 470px;
        background-color: black;
        color: white;
        height: 42px;
        position: absolute;
        right: 12px;
        top: 12px;
        h1, li, select, & > a {
            float: left;
        }
        h1, a {
            display: block;
            height: 42px;
        }
        h1 {
            margin: 0 10px 0 8px;
            width: 98px;
        }
        select, li {
            margin-left: 10px;
        }
        li {
            line-height: 42px;
        }
        select {
            background: #ececec;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            height: 16px;
            margin-top: 12px;
        }
        & > a {
            background: url("/assets/images/sprite.png") no-repeat -12px -2796px;
            padding-left: 12px;
            position: relative;
            text-decoration: none;
            width: 101px;
            &:before {
                content: "\00A0";
                height: 42px;
                left: 0;
                position: absolute;
                top: 0;
                width: 113px;
            }
        }
    }
    .watchList {
            background-color: #353535;
            background-image: -moz-linear-gradient(top, #3e3e3e 37px, #2f2f2f);
            background-image: -webkit-linear-gradient(top, #3e3e3e 37px, #2f2f2f);
            background-image: linear-gradient(to bottom, #3e3e3e 37px, #2f2f2f);
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            height: 144px;
            margin: 60px auto;
        & {} #main-container {
            aside {
                margin: 0 auto;
                padding: 30px 0;
            }
        }
        h2 {
            background-color: #1a1a1a;
            border: 1px solid rgba(77, 77, 77, 0.5);
            color: #b3b3b3;
            height: 35px;
            line-height: 35px;
            padding-left: 12px;
            position: relative;
            &:before, &:after {
                content: "\00A0";
                display: block;
                position: absolute;
                height: 1px;
                left: 0;
                width: 1264px;
            }
            &:before {
                top: -1px;
            }
            &:after {
                bottom: -1px;
            }
        }
        li {
            height: 110px;
            width: 260px !important;
            a {
                box-sizing: border-box;
                display: block;
                height: 77px;
                margin: 16.5px 15.75px 0;
                padding: 6px 9px;
                text-decoration: none;
            }
            &.current, a.current, &:hover {
                background-image: -moz-linear-gradient(top, #787676, #3f3f3f);
                background-image: -webkit-linear-gradient(top, #787676, #3f3f3f);
                background-image: linear-gradient(to bottom, #787676, #3f3f3f);
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.8) inset;
            }
            &.current, a.current {
                &:hover, &:active, &:focus {
                    background-image: -moz-linear-gradient(top, #3f3f3f, #787676);
                    background-image: -webkit-linear-gradient(top, #3f3f3f, #787676);
                    background-image: linear-gradient(to bottom, #3f3f3f, #787676);
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2) inset;
                }
            }
            img {
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
                float: left;
            }
            h3, dl {
                -webkit-transform: scale(0.8334);
                -o-transform: scale(1);
            }
            h3 {
                float: right;
                font-size: 17px;
                width: 100px;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin: -7px 0 0 0;
                line-height: 25px;
            }
            dt {
                float: left;
            }
        }
        .bx-wrapper {
            max-width: inherit !important;
            padding: 0 65px 0 30px;
            position: relative;

        }
        .bx-pager-item {
            display: none;
        }
        .bx-prev, .bx-next {
            background: url("/assets/images/stream_control.png") no-repeat 0 0;
            background-color: #323232;
            position: absolute;
            top: 0;
            width: 37px;
             text-indent: -9999px;
            height: 106px;
            &:before {
                background-color: #212121;
                content: "\00A0";
                height: 106px;
                position: absolute;
                width: 1px;
            }
        }
        .bx-prev {
            background-position: -67px 40px;
            border-right: 1px solid #434343;
            left: 0;
            &:before {
                right: 0;
            }
            &.disabled {
                background-position: 13px 40px;
            }
        }
        .bx-next {
            background-position: -106px 40px;
            border-left: 1px solid #434343;
            right: 0;
            &:before {
                left: 0;
            }
            &.disabled {
                background-position: -26px 54px;
            }
        }
        .disabled {
            cursor: default;
        }
    }
    #functionBar {
        width: 470px;
        background-color: white;
        float: right;
        height: 644px;
        padding-top: 46px;
        #twitchTalk {
            height: 424px;
            margin-bottom: 10px;
        }
        .ad {
            height: 210px;
        }
    }
    .streamer {
        background-color: white;
        float: left;
        height: 700px;
        margin-right: 20px;
        width: 288px;
    }
    .information {
        overflow: hidden;
        position: relative;
        &:before {
            content: "\00A0";
            border-top: 1px solid #8a8a8a;
            height: 1px;
            position: absolute;
            top: 1px;
            left: 0;
            width: 898px;
        }
        .tab {
            position: relative;
            z-index: 10;
            li {
                a {
                    color: #8f8f8f;
                }
                &.active a {
                    color: inherit;
                }
            }
        }
	[id^="tab"] {
                ul {
                    li + li {
                        margin-top: 12px;
                    }
                    h3 {
                        border: 3px dotted #898989;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        box-sizing: border-box;
                        color: #b4b4b4;
                        float: left;
                        height: 50px;
                        line-height: 44px;
                        text-align: center;
                        width: 50px;
                    }
                    ul {
                        position: relative;
                        padding: 9px 0 0 64px;
                        li {
                            background-color: #464646;
                            border: 1px solid #898989;
                            float: left;
                            line-height: 30px;
                            padding: 0 14px;
                            position: relative;
                            text-transform: uppercase;
                            width: 100%;
                            box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            &:before {
                                background: url("/assets/images/sprite.png") no-repeat 0 -2866px;
                                content: "\00A0";
                                left: -7px;
                                position: absolute;
                                top: 11px;
                                height: 8px;
                                width: 7px;
                            }
                            & + li {
                                clear: left;
                                margin-top: 0;
                            }
                        }
                    }
                    p {
                        float: left;
                        & + p {
                            &:before {
                                content: "\007C";
                                padding: 0 8px;
                            }
                        }
                    }
                    em {
                        font-weight: bold;
                    }
                }
	}
    }
}
